.questions
  &-section
    &-right
      width: 100%
      max-width: 773px

      @media #{$med-xlg-extra-lg}
        margin-top: 68px

      &__tabs
        &-box
          &:not(:last-child)
            margin-bottom: 85px

            @media #{$med-xs}
              margin-bottom: 61px

          &-title
            margin-bottom: 30px
            line-height: 36px

            @media #{$med-mob}
              margin-bottom: 33px

            @media #{$med-very-xs}
              margin-bottom: 22px

            text-transform: uppercase
            font-family: $montserrat-font-bold
            font-size: 24px
            font-weight: bold
