.packages
  padding: 85px 0 60px
  overflow: hidden

  @media #{$med-mob}
    padding: 56px 0 88px
    min-height: 784px

  @media #{$med-xs}
    padding: 40px 0 57px!important

  &__container
    @media #{$med-mob}
      padding-left: 24px

  &__intro
    margin-top: 20px

    @media #{$med-xs}
      padding-left: 4px

  &__description
    width: 100%
    max-width: 395px
    margin-top: 50px

    @media #{$med-mob}
      margin-top: 25px

    @media #{$med-xs}
      margin-top: 33px

  &__content
    margin-top: 75px
    overflow: visible

    @media #{$med-mob}
      margin-top: 41px

    @media #{$med-xs}
      width: 100%
      margin-top: 34px
      margin-right: initial
      margin-left: initial
