.instruction
  padding-bottom: 135px

  @media #{$med-mob}
    padding-bottom: 155px

  @media #{$med-xs}
    padding-bottom: 80px

  &__content
    padding-top: 228px
    width: 100%
    max-width: 770px
    margin: 0 auto

    @media #{$med-mob}
      padding-top: 83px

    @media #{$med-xs}
      padding-top: 50px

  &__title
    width: 100%
    margin-bottom: 30px

    @media #{$med-xs}
      line-height: 42px
      margin-bottom: 20px
