.box
  &-order
    &-confirm
      width: 100%
      margin-top: 50px
      padding: 0 30px 3px

      @media #{$med-mob}
        margin-top: 53px

      @media #{$med-xs}
        margin-top: 52px
        padding-left: 27px
        padding-right: 27px

      &__list
        &-item
          width: 100%
          padding: 23px 0

          font-weight: 500
          font-size: 20px
          line-height: 39px

          &:not(:last-child)
            border-bottom: 1px solid $color-border-light

          &:last-child
            @media #{$med-xs}
              padding-bottom: 18px

          @media #{$med-xs}
            padding: 24px 0
            line-height: 24px

      &__btn
        font-size: 18px
        opacity: 1

        transition: color .5s ease, opacity .5s ease, max-height .3s ease-in-out, font-size .2s ease

        &.hide
          max-height: 0
          opacity: 0
          font-size: 0

        &:hover
          color: $color-text
          opacity: .5

      &__adventures
        &-list
          margin-top: 17px

          @media #{$med-xs}
            padding-left: 2px
            margin-top: 31px

          &-item
            +flex(flex-start, flex-start, false, nowrap)

            img
              position: relative
              top: -50%
              transform: translateY(50%)
              margin-right: 13px
              width: 15px
              height: 15px

            span
              opacity: .5
              font-size: 16px
              line-height: 32px

              @media #{$med-xs}
                width: 100%
                max-width: 230px
