.box
  &-features
    padding: 35px 35px 30px
    background-color: #fff
    +flex(flex-start, center, true)

    @media #{$med-lg-str}
      display: none

    &__title
      font-size: 28px
      margin-top: 1px

    &__list
      margin-top: 30px
      +flex(flex-start, flex-start, true)

      &-item
        position: relative
        padding-left: 28px

        &:before
          content: ''
          position: absolute
          top: 5.5px
          left: 0
          width: 17px
          height: 11px
          background: url("/assets/img/specifications/icons/done-icon.svg") no-repeat center center / cover

        &:not(:last-child)
          margin-bottom: 24px