.js
  &-drop
    &-down
      position: relative
      z-index: 999
      cursor: pointer

      &-item
        position: relative
        height: 50px
        width: 100%
        max-width: 270px
        padding: 23px 25px
        background: #f7f7f7

        display: flex
        align-items: center

        &:before
          position: absolute
          content: ""
          height: 34px
          width: 34px
          transition: opacity .3s ease
          background-repeat: no-repeat
          background-size: contain
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)

        &[rel="English"]:before
          background-image: url(/assets/img/specifications/icons/USA-Flag.svg)

        &[rel="Russian"]:before
          background-image: url(/assets/img/specifications/icons/Russian-Flag.png)

        &[rel="Ukraine"]:before
          background-image: url(/assets/img/specifications/icons/Ukraine-Flag.png)

        &--selected
          border-radius: 4px
          background: #ededed

          transition: border-radius .5s ease

          &-header
            max-width: 50px

            & + ul
              max-width: 34px

      ul
        position: relative
        max-height: 0
        width: 100%

        opacity: 0
        overflow: hidden

        &.options
          position: absolute
          top: 30px
          z-index: -1

          padding: 0
          border-top-left-radius: 0
          border-top-right-radius: 0
          border-top: none
          background: transparent

          &-active
            opacity: 1
            overflow: visible
            max-height: 186px
            transform: translateY(20px)

            li
              &[rel]:before
                opacity: 1!important

            &.header-pc
              max-width: 50px

              a
                color: transparent

        li
          flex: 1
          display: flex
          width: 100%

          &[rel]:before
            opacity: 0
            transition: opacity .5s ease

          a
            position: relative
            flex: 1
            display: flex
            width: 100%
            min-width: 34px
            min-height: 34px
            font-size: 25px
            line-height: 15px
            transform: translateX(-50%)
            color: #000

            &:hover
              color: #56c48f

          &.active
            a
              color: #56c48f

          &:last-child
            border-bottom-right-radius: 4px
            border-bottom-left-radius: 4px

        &::-webkit-scrollbar
          width: 12px
          height: 12px

        &::-webkit-scrollbar-track
          background: rgba(0, 0, 0, 0.1)

        &::-webkit-scrollbar-thumb
          background: rgba(0, 0, 0, 0.5)

      &--mobile, &--footer
        margin-top: 96px

        ul
          //&.options-active
          //  margin-bottom: 30px

          li
            a
              font-size: 13px
              transform: translateX(15%)

      &--footer
        margin-top: 34px

        li
          background-color: #fff

        .options-active
          //position: relative!important
          //transform: initial!important
          top: initial!important

      &--mobile &-item, &--footer &-item
        font-size: 13px
        max-width: initial

        a
          min-height: initial

        &--selected
          padding-left: 64px

          &:after
            position: absolute
            content: ''
            top: 50%
            transform: scale(1) translateY(-50%)
            transition: all .5s ease
            right: 28px
            width: 0
            height: 0

            border-style: solid
            border-width: 6px 5px 0
            border-color: $color-text transparent transparent transparent
            border-radius: 5px

        &:before
          left: 10%

      &.active &-item--selected
          border-bottom: 0

          &:after
            top: 35%
            transform: scale(-1) translateY(-100%)

      &.active &-item--selected
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0

      &--reverse
        ul
          position: absolute

          li
            &:first-child
              border-top-left-radius: 4px!important
              border-top-right-radius: 4px!important

            &:last-child
              border-bottom-right-radius: 0
              border-bottom-left-radius: 0

        & .js-drop-down-item--selected
          &:after
            transform: scale(-1)

        &.active .js-drop-down-item--selected
          border-top-left-radius: 0!important
          border-top-right-radius: 0!important
          border-bottom-left-radius: 4px
          border-bottom-right-radius: 4px

          &:after
            transform: scale(1)
            top: 50%

      //&--open
      //  ul
.select-header-country
  margin-left: 20px

  @media #{$med-lg-str}
    display: none