.following
  &-box
    margin-right: 185px

    @media #{$med-mob}
      margin-right: 34.3vw

    @media #{$med-mob-very}
      margin-right: 21.3vw

    &__title
      font-size: 24px
      margin-top: 15px

  &-list
    margin-top: 20px
    +flex(flex-start, flex-start, false, nowrap)

    &__item
      &:not(:last-child)
        margin-right: 10px

      a
        width: 50px
        height: 50px
        padding: 10px
        color: $color-text
        font-size: 24px
        +flex(center, center)

        border-radius: 4px
        background: $following-item-background-color
        //transition: background-color .3s ease
        transition: background-color, color .3s ease

        //i
        //  color: $color-text
        //  font-size: 30px
        //  transition: color .3s ease

        &:hover
          background-color: rgba($background-color-dark, .3)
          color: #fff

          //i
          //  color: #fff
