.navigation
  &-links
    margin-top: 43px

    @media #{$med-xlg-extra-lg}
      margin-top: 25px


    &__item
      &:not(:last-child)
        margin-bottom: 33px

        @media #{$med-xlg-extra-lg}
          margin-bottom: 16px

      a
        font-weight: 600

        opacity: 1
        transition: opacity .3s ease

        &:hover
          opacity: .6
