.OC
  &-icons
    &-list
      margin-left: 5px
      margin-top: 65px
      +flex(flex-start, center, false, nowrap)

      @media #{$med-xs}
        margin-top: 0

      &__item
        &:not(:first-child)
          margin-left: 19px

          @media #{$med-xs}
            margin-left: 13px

        @media #{$med-xs}
          width: 100%
          max-width: 21.5px

          img
            width: 100%