.order
  &-list
    height: 100%

    &__item
      +flex(flex-start, flex-start, true, nowrap)

      &:first-child
        margin-bottom: 63px

        @media #{$med-lg-str}
          margin-bottom: 60px

        @media #{$med-xs}
          margin-bottom: 50px

      &--row
        flex-direction: row

        & .order-list__item-box
          margin-top: 44px

          @media #{$med-mob}
            margin-top: 41px

          @media #{$med-xs}
            margin-top: 23px

      &--payments
        position: relative
        top: -85px

        @media #{$med-lg-str}
          top: initial
          margin-top: 102px

        @media #{$med-xs}
          margin-top: 84px

        & .order-list__item-box
          @media #{$med-lg-str}
            margin-top: 46px

          @media #{$med-xs}
            margin-top: 23px

      &--coupon
        max-height: 0
        margin-top: 0
        opacity: 0
        overflow: hidden

        transition: max-height .2s ease-in-out, opacity .3s linear, margin-top .3s linear

        &.show
          margin-top: 85px
          max-height: initial
          opacity: 1

      &-intro
        width: 100%
        +flex(flex-start, flex-start, false, nowrap)

        @media #{$med-mob-normal}
          flex-direction: column

      &-box
        width: 100%
        margin-top: 33px
        overflow: initial

        @media #{$med-xs}
          margin-top: 48px

        & .packages-slider + .swiper-pagination-bullets
          @media #{$med-mob}
            top: -45px!important

      &-section
        &-left
          width: 100%
          max-width: 770px
          +flex(flex-start, flex-start, true)
          margin-right: 63px
          margin-bottom: 240px

          @media #{$med-lg-str}
            margin-right: 0
            margin-bottom: 0

          & .order-list__item-box
            margin-top: 47px

    &__title
      width: 100%
      //max-width: 513px
      max-width: 42vw
      margin-left: 35px

      @media #{$med-mob-normal}
        margin-top: 24px
        margin-left: initial
        line-height: 42px!important
        font-size: 32px

      @media #{$med-very-xs}
        max-width: 513px

    &__input
      width: 100%

    &__btn
      margin-top: 53px
      width: 100%

      @media #{$med-xs}
        margin-top: 46px

    &__privacy
      &-info
        margin-top: 35px

        @media #{$med-xs}
          margin-top: 62px

        span
          display: block
          opacity: .5
          line-height: 23px

          @media #{$med-xs}
            line-height: 30px

          &:not(:last-child)
            margin-bottom: 14px

            @media #{$med-xs}
              margin-bottom: 16px

          &:last-child
            width: 100%
            max-width: 590px


    &__error
      color: red
      max-height: initial
      font-size: 15px
      margin-top: 15px
      display: block
      opacity: 1
      transition: opacity .5s ease, max-height .5s ease, margin-top .5s ease

      &.hide
        max-height: 0
        font-size: 0
        opacity: 0
        margin-top: 0
