.order
  &-number
    height: 48px
    width: 48px
    +flex(center, center)

    border-radius: 50%
    background-color: $color-primary
    color: #fff

    figcaption
      font-weight: bold
      font-size: 20px
      line-height: 29px
