.payments
  &-box
    @media #{$med-very-xs}
      margin-top: 64px

    &__title
      font-size: 24px
      margin-top: 15px

  &-list
    margin-top: 17px
    +flex(flex-start, stretch, false, nowrap)

    &__item
      width: 77px
      padding: 3px 0
      +flex(center, center)
      background: #fff
      border-radius: 2px

      &:nth-child(3)
        @media #{$med-very-xs}
          order: initial!important

      &:not(:last-child)
        margin-right: 10px