.pricing
  &-list
    &__item
      width: 100%
      +flex(space-between, flex-start, false, nowrap)

      @media #{$med-xs}
        margin-bottom: 23px
        align-items: center

      &-title
        opacity: .5

        @media #{$med-xs}
          width: 100%
          max-width: 170px

      &--result
        @media #{$med-xs}
          margin-top: 7px

      &--result &-title, &--result &-price
        font-size: 32px

      &--result &-title
        opacity: 1

    & + button
      padding: 0