.radio
  &-list
    width: 100%

    background-color: #fff
    border-width: 1px!important
    overflow: hidden

    &__item
      &:not(:last-child)
        border-bottom: 1px solid $color-border-light

      &-content
        padding: 5px 0
        +flex(flex-start, center, false, nowrap)

        label
          padding: 5px 24px
          margin-left: 27px
          width: 100%
          +flex(flex-start, center, false, nowrap)

        &-input
          position: relative
          margin: 0
          //padding-left: 50px

          //&:before, &:after
          //  position: absolute
          //  content: ''
          //  top: 50%
          //  left: 0
          //  border-radius: 10px
          //
          //  transform: translateY(-50%)
          //
          //&:before
          //  display: block
          //  height: 32px
          //  width: 32px
          //  box-sizing: border-box
          //
          //  transition: border .5s ease, background-color .5s ease
          //  background: $color-primary-background
          //  border: 2px solid $color-border-light
          //  overflow: hidden
          //
          //&:after
          //  left: 50%
          //  height: 18px
          //  width: 18px
          //  +flex(center, center)
          //
          //  background: url("/assets/img/specifications/icons/white-done-icon.svg") no-repeat center center / contain
          //  opacity: 0
          //  transform: translate(-100%, -50%)
          //  transition: opacity .5s ease
          //
          //&:checked, &:checked:active
          //  &:before
          //    border-color: $color-primary
          //    background-color: $color-primary
          //
          //  &:after
          //    opacity: 1

          & + label
            width: 100%
            max-width: 18px
            position: relative

            &:before, &:after
              position: absolute
              content: ''
              top: 50%
              left: 0
              border-radius: 10px

              transform: translateY(-50%)

            &:before
              display: block
              height: 32px
              width: 32px
              box-sizing: border-box

              transition: border .5s ease, background-color .5s ease
              background: $color-primary-background
              border: 1px solid $color-border-light
              overflow: hidden

            &:after
              left: 54%
              height: 18px
              width: 18px
              +flex(center, center)

              background: url("/assets/img/specifications/icons/white-done-icon.svg") no-repeat center center / contain
              opacity: 0
              transform: translate(-100%, -50%)
              transition: opacity .5s ease

          &:checked, &:checked:active
            & + label
              &:before
                border-color: $color-primary
                background-color: $color-primary

              &:after
                opacity: 1

        &-images
          margin-left: 16px
          +flex(flex-start, center, false, nowrap)

          @media #{$med-xs}
            margin-left: 14px

          li
            height: 66.5px
            +flex(center, center, false, nowrap)

            &:not(:last-child)
              margin-right: 75px

              @media #{$med-xs}
                margin-right: 26px

            img
              object-fit: contain
              height: 80%

              @media #{$med-mob-normal}
                height: auto
                width: 100%

            &:last-child
              img
                height: 60%

                @media #{$med-mob-normal}
                  height: auto
                  width: 100%

          &--small
            li
              img
                height: 47%
