//select.filter
//  display: none

.options
  padding: 15px 20px 15px 70px

  font-weight: 500
  border-top-left-radius: 0
  border-top-right-radius: 0
  border-top: none
  background: #fff

%style-icons-select-language-item
  position: absolute
  content: ''
  height: 34px
  width: 34px
  top: 50%
  opacity: 0

  transform: translateY(-50%)
  transition: all .3s ease
  background-repeat: no-repeat
  background-size: contain

.selectLabel
  width: 100%

  position: relative
  background: $color-select-background
  transition: border .5s ease
  box-shadow: initial
  font-size: 14px
  @extend %contact-input-style

  &:before
    @extend %style-icons-select-language-item
    left: 20px
    opacity: 1

  &:after
    position: absolute
    content: ''
    top: 50%
    transform: scale(1) translateY(-50%)
    transition: all .5s ease
    right: 28px
    width: 0
    height: 0

    border-style: solid
    border-width: 6px 5px 0
    border-color: $color-text transparent transparent transparent
    border-radius: 5px

    @media #{$med-very-xs}
      top: 51%
      right: 19px

  &[rel="English"]
    &:before
      background-image: url(/assets/img/specifications/icons/USA-Flag.svg)

  &[rel="Ukraine"]
    &:before
      background-image: url(/assets/img/specifications/icons/Ukraine-flag.png)

  @media (max-width: $exclusive-sm)
    font-size: 12px

.selectLabel.active
  z-index: 4
  border-bottom: none
  border-bottom-right-radius: 0
  border-bottom-left-radius: 0
  //box-shadow: $select-active-shadow

  &:after
    top: 35%
    transform: scale(-1) translateY(-100%)

.cusSelBlock
  position: absolute
  z-index: 10
  cursor: pointer
  width: 100%
  //overflow: hidden
  border-radius: 4px

  .options
    width: 100%
    top: 100%
    left: 0
    z-index: 2
    padding: 0 50px 0 66px
    opacity: 0
    font-size: 0
    transition: all .3s ease, max-height .3s ease
    max-height: 0
    overflow-x: hidden

    &::-webkit-scrollbar
      width: 12px
      height: 12px

    &::-webkit-scrollbar-track
      background: rgba(0, 0, 0, 0.1)

    &::-webkit-scrollbar-thumb
      background: rgba(0, 0, 0, 0.5)


    @media (max-width: $exclusive-sm)
      font-size: 12px

    &:last-child
      border-bottom-right-radius: 4px
      border-bottom-left-radius: 4px

    li
      position: relative
      cursor: pointer
      transition: padding .3s ease
      background-repeat: no-repeat
      padding: 0

      &.active, &:hover
        color: $color-primary

      &:before
        @extend %style-icons-select-language-item
        left: -45px

      &[rel="English"]
        &:before
          background-image: url(/assets/img/specifications/icons/USA-Flag.svg)

      &[rel="Ukraine"]
        &:before
          background-image: url(/assets/img/specifications/icons/Ukraine-flag.png)

  .options.options-active
    padding: 0 50px 0 66px
    max-height: 186px

    opacity: 1
    font-size: 14px

    li
      padding: 23px 0

      &:before
        opacity: 1
