.tabs
  width: 100%

  &__item
    transition: margin-bottom .3s linear

    &:not(:last-child)
      margin-bottom: 32px

      @media #{$med-xs}
        margin-bottom: 30px

    button
      display: flex
      justify-content: center
      align-items: center

      position: relative
      padding: 0
      text-align: left
      overflow: visible

      @media #{$med-mob}
        align-items: flex-start

    //&:before
      //  position: absolute
      //  top: 50%
      //  left: 0
      //  content: "+"
      //
      //  font-weight: 700
      //  font-size: 25px
      //  line-height: 25px
      //  color: $color-primary
      //
      //  transform: translateY(-50%)
      //
      //  @media #{$med-xs}
      //    top: 5px
      //    transform: initial
          //left: 0

    &-icon
      position: absolute
      top: 50%
      left: 0

      width: 15px
      height: 15px
      opacity: 0
      transform: translateY(-50%)

      &--plus
        background: url("/assets/img/specifications/icons/plus-icon.svg") no-repeat center center / cover
        opacity: 1

      &--minus
        background: url("/assets/img/specifications/icons/minus-icon.svg") no-repeat center center / contain

    &-title
      position: relative
      left: 30px
      font-size: 24px

      @media #{$med-xs}
        display: block
        width: 100%
        max-width: 80vw

        font-size: 20px
        line-height: 26px

    &-body
      padding-top: 0
      max-height: 0
      padding-left: 30px

      transition: max-height .3s ease, padding-top .3s ease
      overflow: hidden

      p
        width: 100%
        max-width: 748px

        transition: opacity .3s ease
        font-family: $montserrat-font-medium
        line-height: 24px
        opacity: 0
        font-size: 15.7px

        //@media #{$med-xs}
          font-size: 13.5px

        &:not(:last-child)
          margin-bottom: 25px

    &--active
      margin-bottom: 28px!important

      @media #{$med-xs}
        margin-bottom: 26px!important

    &--active &-icon--plus
      opacity: 0

    &--active &-icon--minus
      opacity: 1

      //button
      //  &:before
      //    content: '-'
      //    font-size: 35px
      //    //font-family: 'FontAwesome', sans-serif
      //    top: 40%

    &--active &-body
      max-height: 1000px
      padding-top: 18px

      @media #{$med-xs}
        padding-top: 12px

      p
        opacity: 1

  &--small &__item-title
    //left: 22px

    font-size: 16px

    //@media #{$med-xs}
      //left: 30px

    //button
    //  &:before
    //    top: 2px
    //    left: 0
    //
    //
    //    line-height: 14px

  &--small &__item
    &-icon
      width: 13px
      height: 13px

      //@media #{$med-normal-xs}
      //
      //  top: 50%
      //  transform: translateY(-50%)

  //  button
      //&:before
      //  //top: 1px!important
      //  line-height: 18px
      //
      //  @media #{$med-xs}
      //    line-height: 22px

    &--active
      button
        &:before
          font-size: 14px
