.instruction
  &-article
    font-size: 15.7px

    h2, h3, h4, h4, h5, h6, span
      width: 100%
      max-width: 500px

      font-family: $montserrat-font-bold
      font-size: 24px
      line-height: 32px

    p
      margin-top: 24px

      font-family: Montserrat-Medium
      line-height: 24px

      a
        color: $color-primary
        transition: opacity .3s ease

        &:hover
          opacity: .6

    img
      margin: 50px 0 48px
      width: 100%

      object-fit: cover

      .with-border
        border: 1px solid $border-color-light!important

      .with-border-radius
        border: 1px solid transparent
        border-radius: 10px

      @media #{$med-xs}
        margin: 33px 0

    li
      margin-top: 24px
      +flex(flex-start, flex-start)

      figure
        height: 24px
        width: 24px

        figcaption
          font-size: 12px
          line-height: 14px

      p
        margin-top: 0
        margin-left: 8px
        width: 100%
        max-width: 38vw

        @media #{$med-lg-str}
          max-width: 75vw

        @media #{$med-xs}
          margin-left: 12px
