.features
  padding: 100px 0 35px

  @media #{$med-mob}
    padding: 81px 0 78px

  @media #{$med-xs}
    padding-bottom: 57px

  &__text
    &-box
      +flex(flex-start, flex-start, true)

      @media #{$med-xs}
        padding-left: 5px

  &__description
    margin-top: 73px

    @media #{$med-mob}
      margin-top: 25px

    @media #{$med-xs}
      margin-top: 40px

    width: 100%
    max-width: 380px
    display: block

  &-list
    margin-top: 90px
    +flex(flex-start, flex-start)

    @media #{$med-xlg-extra-lg}
      justify-content: space-between

    @media #{$med-mob}
      justify-content: flex-start!important
      margin-top: 50px

    @media #{$med-xs}
      padding-left: 7px
      margin-top: 67px

    &__item
      width: 100%
      max-width: 305px
      margin-right: 95px
      margin-bottom: 77px
      opacity: 1
      transition: max-height .3s ease, margin-bottom .3s ease, opacity .5s ease
      +flex(flex-start, center, true)

      img
        transition: max-height .3s ease
        transform: translateX(-35%)

        @media #{$med-mob}
          max-height: 750px

      @media #{$med-xlg-extra-lg}
        max-width: 39vw
        margin-right: 45px

        &:nth-child(even)
          margin-right: 0

      @media #{$med-mob}
        margin-right: 65px!important
        max-width: 41vw!important
        max-height: 1500px
        margin-bottom: 68px

        &:nth-child(even)
          margin-right: 0!important

      @media #{$med-mob-small}
        align-items: flex-start
        margin-right: 0!important
        max-width: initial!important

        img
          transform: initial

      @media #{$med-xs}
        &:not(:last-child)
          margin-bottom: 74px!important

      &:nth-child(3n)
        margin-right: 0

      &-text
        &-intro
          max-width: initial
          margin-top: 25px
          transition: max-height .3s ease

          @media #{$med-mob}
            max-height: 750px

          @media #{$med-xs}
            margin-top: 38px

        &-light
          width: 100%
          margin-top: 20px

          @media #{$med-mob}
            margin-top: 18px

          @media #{$med-xs}
            width: 100%
            max-width: 305px
            margin-top: 15px

      &.hidden
        @media #{$med-mob}
          max-height: 0
          overflow: hidden
          margin-bottom: 0!important
          opacity: 0

        img
          @media #{$med-mob}
            max-height: 0

        & .text-intro
          @media #{$med-mob}
            max-height: 0

    li
      &:last-child
        margin-bottom: 0

      @media #{$med-xs}
        &.hidden
          margin-bottom: 0!important

  &__btn
    padding: 0
    opacity: 1
    display: none

    font-size: 18px
    transition: opacity .5s ease

    @media #{$med-mob}
      display: block

    &.hidden
      opacity: 0
