.footer
  padding: 74px 0 40px

  @media #{$med-mob}
    padding: 85px 0 24px

  @media #{$med-small-xs}
    padding: 53px 0 20px

  &__container
    @media #{$med-xlg-small}
      align-items: flex-start
      flex-direction: column

    @media #{$med-very-xs}
      padding: 0 28px

  &__content
    +flex(flex-start, flex-start, false, nowrap)

    @media #{$med-xlg-small}
      flex-direction: column

    &-item
      +flex(flex-start, flex-start, true)
      min-width: 4vw
      width: 100%

      &:not(:last-child)
        margin-right: 222px

      &:nth-child(even)
        margin-right: 0

      &:nth-child(2)
        width: 100%
        max-width: 270px

        @media #{$med-very-xs}
          max-width: 314px

      &:nth-of-type(3)
        margin-right: 100px

      &-title
        font-size: 24px

      form
        width: 100%
        position: relative
        top: 0
        right: 0
        z-index: 10
        margin-top: 20px

        select
          display: none

    &-section
      &-left, &-right
        position: relative
        +flex(flex-start, flex-start)

      &-left
        flex-wrap: nowrap
        margin-right: 221px

        @media #{$med-xlg-small}
          margin-right: 0

        li
          &:not(:last-child)
            @media #{$med-mob}
              margin-right: 19.6vw

            @media #{$med-mob-very}
              margin-right: 13vw

            @media #{$med-very-xs}
              margin-right: 11.5vw!important

      &-right
        width: 100%
        max-width: 600px

        @media #{$med-xlg-small}
          width: 100%
          max-width: 875px
          margin-top: 69px

        @media #{$med-very-xs}
          margin-top: 50px!important

        & .footer__content-item
          &:not(:nth-child(1n+3))
            margin-bottom: 52px

          &:first-child
            margin-right: 146px

            @media #{$med-mob}
              margin-right: 29.3vw

            @media #{$med-mob-very}
              margin-right: 15vw

            @media #{$med-very-xs}
              margin-top: 53px
              margin-right: initial!important
              margin-bottom: 47px

        li
          &:nth-child(3)
            @media #{$med-very-xs}
              order: -1



  &__soon
    &-title
      margin-top: 33px
      opacity: .4
      font-size: 18px

    &-link
      width: 100%
      max-width: 155px
      line-height: 24px
      margin-top: 15px

      color: $color-text
      font-family: $montserrat-font-bold
      font-weight: bold
      font-size: 18px
      opacity: .2
      transition: opacity .3s ease

      @media #{$med-very-xs}
        max-width: initial

      &:hover
        opacity: .5

  nav
    display: flex
    flex-direction: column
    align-items: flex-end

  &__copyright
    opacity: .5
    margin-top: 81px

    @media #{$med-mob}
      margin-top: 87px

    @media #{$med-very-xs}
      margin-top: 55px

    @media #{$med-very-xs}
      font-size: 15px

  .js-language-drop-down
    position: relative
    width: 100%
    max-width: 300px