.header
  &-mobile
    &-menu
      position: fixed
      top: 10px
      right: -100%
      padding: 35px 20px 30px
      display: none
      width: 100%
      max-width: 360px
      max-height: 90vh
      z-index: -1

      opacity: 0
      overflow-y: auto
      background: #fff
      border-radius: 10px
      transition: opacity .5s ease, z-index .5s ease, right .5s linear, top .5s linear

      &.opened
        opacity: 1
        z-index: 2
        right: 25px

        @media #{$med-normal-xs}
          right: 0
          top: 0

      @media #{$med-lg-str}
        display: block

      @media #{$med-normal-xs}
        height: 100%

        max-width: initial

      &__btn
        margin-top: 61px
        padding-top: 18.5px!important
        padding-bottom: 18.5px!important
        width: 100%

        font-size: 17px!important

        @media #{$med-normal-xs}
          margin-top: 59.5px
          padding-top: 20px!important
          padding-bottom: 20px!important

      &__links
        margin-top: 7px

        @media #{$med-normal-xs}
          margin-top: 5px

        &-item
          a
            width: 100%
            padding: 17px 0
            display: block

            transition: color .3s ease, font-weight .2s ease
            text-align: center
            color: $color-text

            @media #{$med-normal-xs}
              font-size: 19px

          &:not(:last-child)
            border-bottom: 1px solid $color-text-light

          &--active
            a
              color: $color-primary
              font-weight: bold

      //form
      //  select
      //    display: none

      .select-header-country
        &--mobile
          margin-top: 96px
          position: relative

          @media #{$med-normal-xs}
            margin-top: 93px

          & .cusSelBlock
            position: relative

          & .selectLabel
            padding: 23px 35px 23px 70px
            font-size: 13px

            &:before
              left: 18px

            &:after
              right: 22px
              top: 54%

            &.active
              &:after
                top: 38%

          & .options
            background: lighten($color-select-background, 4%)

            li
              font-size: 13px

              &:before
                left: -55px

            &.options-active
              li
                padding-top: 20px
                padding-bottom: 20px
