.header
  position: fixed
  width: 100%
  padding: 31px 0
  z-index: 5

  opacity: 1
  background: transparent
  transition: all .5s ease

  &.fixed
    background: $header-background-gradient

  &-background
    &--mobile
      //position: absolute!important
      //background: url(/assets/img/welcome/background-image.png) no-repeat -100% 0 / 270%

  @media #{$med-lg-str}
    position: relative

  @media #{$med-mob}
    padding: 22px 0

  @media #{$med-small-xs}
    padding: 20px 0

  &__container
    position: relative

  &__section
    &-left
      position: relative
      z-index: 0
      opacity: 1
      margin-left: 7px

      transition: opacity .3s ease

      &.hidden
        opacity: 0

      @media #{$med-mob}
        margin-left: 0

      @media #{$med-normal-xs}
        margin-top: 5px
        z-index: 10

    &-right
      margin-right: 77px
      +flex(flex-start, center, false, nowrap)

  &__logo
    margin-left: 7px
    +flex(flex-start, center, false, nowrap)

    transition: opacity .5s ease

    &.lighten
      opacity: .5

    @media #{$med-mob}
      margin-left: 0

    @media #{$med-normal-xs}
      img
        height: 40px
        width: 40px

    span
      font-weight: 600
      font-size: 28px
      margin-left: 15px
      color: $color-text
      display: block

      @media #{$med-normal-xs}
        font-size: 24px
        margin-left: 10px

  &-menu
    +flex(flex-start, center)

    &__item
      a
        transition: color .3s ease

        font-size: 18px
        font-weight: 500
        color: $color-text

        @media #{$med-xlg-extra-small}
          font-size: 16px

      &:last-child
        margin-right: 0

      &:hover, &--active
        a
          color: $color-primary

      &:not(:last-child)
        margin-right: 22.5px

  &__btn
    //margin-left: 34px
    margin-left: 20px

    @media #{$med-lg-str}
      display: none

    &-menu
      &-mobile
        display: none
        position: fixed
        z-index: 3
        top: 53px
        right: 36px

        opacity: 1
        transform: translateY(-50%)
        transition: opacity .3s ease

        &.hidden
          opacity: 0

        @media #{$med-lg-str}
          display: block

        @media #{$med-normal-xs}
          top: 42px
          right: 16px

        span
          position: relative
          display: block
          top: 0
          width: 25px
          height: 4px

          border-radius: 4px
          background: $color-primary
          transition: transform .5s ease, top .5s ease, opacity .3s ease
          transform-origin: center center
          opacity: 1

          &:not(:last-child)
            margin-bottom: 3.6px

        &--opened
          span
            &:first-child
              top: 6px
              transform: rotate(45deg)

            &:nth-child(2)
              opacity: 0

            &:last-child
              top: -9px
              transform: rotate(-45deg)


    @media #{$med-xlg-extra-small}
      padding-left: 25px
      padding-right: 25px
      font-size: 17px

  nav
    @media #{$med-lg-str}
      display: none

  form
    &.select-header-country
      position: relative
      left: -8px
      margin-left: 20px

      @media #{$med-lg-str}
        display: none

      select
        display: none

      &--mobile
        display: block

      & .cusSelBlock
        overflow: initial

      & .selectLabel
        height: 50px
        width: 50px
        padding: 23px 25px
        transform: translateY(-50%)

        &:before
          left: 50%
          transform: translate(-50%, -50%)

        &:after
          display: none

        //&.active
          box-shadow: $small-select-active-shadow

      & .options
        position: absolute
        top: 25px
        z-index: -1
        padding: 0 25px
        //transform: translateY(-50%)

        &::-webkit-scrollbar
          width: 5px
          height: 12px

        li
          &:before
            left: 50%
            transform: translate(-50%, -50%)

        &.options-active
          //transform: translateY(-30%)
          padding: 0 25px
          overflow-y: overlay
