+b.SECTION.order.with-primary-background#order
    include ../../../includes/common/header

    +e.container.container
        +e.FORM(action="/", novalidate, name="form_order", method="POST").form#form-order
            select(name="package")#js-form-order-package-select
                option(value="1 month") 1 month
                option(value="6 months") 6 months
                option(value="12 months") 12 months

        +e.content
            +b.UL.order-list
                +e.LI.item
                    +e.item-intro
                        figure.order-number
                            figcaption 1

                        +e.H1.title.title-bold Click on a plan that works for you

                    +e.item-box.swiper-container.hidden#js-packages-slider
                        +packagesOffers({
                            'className': 'packages-slider--order',
                            'offers': [
                                {
                                    'termsTitle': "1 month",
                                    'termsDescription': "billed every month",
                                    'perPriceValute': "$",
                                    'perPrice': "9.90",
                                    'perPriceDescription': "/ per month",
                                    'description': "14-day money-back guarantee"
                                },
                                {
                                    'active': true,
                                    'exclusiveText': "top choice",
                                    'termsTitle': "6 months",
                                    'termsDescription': "billed every 6 months",
                                    'oldPrice': "$ 59.40",
                                    'price': "$47.40",
                                    'priceLastText': "once.",
                                    'perPriceOld': "$ 9.90",
                                    'perPriceValute': "$",
                                    'perPrice': "7.90",
                                    'perPriceDescription': "/ per month",
                                    'description': "30-day money-back guarantee"
                                },
                                {
                                    'exclusiveText': "Best deal",
                                    'isExclusiveChoice': true,
                                    'termsTitle': "12 months",
                                    'termsDescription': "billed every 12 months",
                                    'oldPrice': "$ 118.80",
                                    'price': "$58.8",
                                    'priceLastText': "once.",
                                    'perPriceOld': "$ 9.90",
                                    'perPriceValute': "$",
                                    'perPrice': "4.90",
                                    'perPriceDescription': "/ per month",
                                    'description': "30-day money-back guarantee"
                                }
                            ]
                        })

                +e.LI.item--row
                    +e.item-section-left
                        +e.item-intro
                            figure.order-number
                                figcaption 2

                            +e.H2.title.title-bold Create a secure account

                        +e.item-box
                            +e.INPUT(name="email", id="js-order-input-email", type="email", placeholder="Email Address", required="required", form="form-order", minlength="10", maxlength="35").input.input.with-border-radius

                            +e.SPAN.error.hide * Email is not valid

                    +e.item-section-right
                        +featuresListBox({
                            title: 'Features',
                            list: [
                                {
                                    text: 'Be Anywhere! Stream Everything!'
                                },
                                {
                                    text: 'Be Anywhere! Stream Everything!'
                                },
                                {
                                    text: 'Be Anywhere! Stream Everything!'
                                },
                                {
                                    text: 'Be Anywhere! Stream Everything!'
                                },
                                {
                                    text: 'Be Anywhere! Stream Everything!'
                                },
                            ]
                        })


                +e.LI.item--payments
                    +e.item-section-left
                        +e.item-intro
                            figure.order-number
                                figcaption 3

                            +e.H2.title.title-bold payment method

                        +e.item-box
                            +b.UL.radio-list.with-border-radius
                                +e.LI.item
                                    +e.item-content
                                        +e.INPUT(type="radio", id="payment_method_1", name="payment_method", value="1 Method", checked="checked", form="form-order").item-content-input
                                        label(for="payment_method_1")

                                        +radioContentImages({
                                            images: [
                                                {
                                                    src: '/assets/img/specifications/icons/payments/mastercard-method-icon.svg',
                                                    alt: 'MasterCard payment method',
                                                },
                                                {
                                                    src: '/assets/img/specifications/icons/payments/visa-method-icon.svg',
                                                    alt: 'Visa payment method',
                                                },
                                                {
                                                    src: '/assets/img/specifications/icons/payments/paypal-method-icon.svg',
                                                    alt: 'PayPal payment method',
                                                },
                                            ]
                                        })

                                +e.LI.item
                                    +e.item-content
                                        +e.INPUT(type="radio", id="payment_method_2", name="payment_method", value="2 Method", form="form-order").item-content-input
                                        label(for="payment_method_2")

                                        +radioContentImages({
                                            isSmall: true,
                                            images: [
                                                {
                                                    src: '/assets/img/specifications/icons/payments/bitcoin-method-icon.svg',
                                                    alt: 'Bitcoin payment method',
                                                },
                                                {
                                                    src: '/assets/img/specifications/icons/payments/ethereum-method-icon.svg',
                                                    alt: 'Ethereum payment method',
                                                },
                                            ]
                                        })

                            +e.item--coupon#js-form-order-coupon
                                +e.item-intro
                                    figure.order-number
                                        figcaption 4

                                    +e.H2.title.title-bold Coupon

                                +e.item-box
                                    +e.INPUT(name="coupon", type="text", placeholder="Coupon code", form="form-order", minlength="5", maxlength="45").input.input.with-border-radius

                                    +e.SPAN.error.hide * Coupon is not valid

                            include ./../../../utils/box-order-confirm

                        +e.INPUT(type="submit", form="form-order", value="Continue").btn.btn

                        +e.privacy-info
                            span By submitting this form, you agree to our Terms of Service and Privacy Policy.

                            span If you do not wish to receive information about SpiceVPN services, please send us an email at privacy@nordvpn.com.
