+b.SECTION.reviews#reviews
    +e.container.container
        +e.intro
            +e.SPAN.title.title Reviews

            +e.H4.description.title-bold WHAT EXPERTS SAY ABOUT US?

        +e.content.swiper-container#js-reviews-slider
            +reviewsList({
                'reviews': [
                    {
                        'author': 'Anton, Microsoft CEO',
                        'firstReview': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs.",
                        'lastReview': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs.",
                    },
                    {
                        'author': 'Anton, Microsoft CEO',
                        'firstReview': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs.",
                        'lastReview': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs.",
                    },
                    {
                        'author': 'Anton, Microsoft CEO',
                        'firstReview': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs.",
                        'lastReview': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs.",
                    }
                ]
            })

            +e.slider-pagination.swiper-pagination#js-reviews-slider-pagination
