/* font-family: "Montserrat"; */
@font-face
	font-family: "Montserrat-Black"
	src: url("/assets/fonts/Montserrat/Montserrat-Black.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-Black.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-Black.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-Black.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-Black.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-Black.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-BlackItalic"
	src: url("/assets/fonts/Montserrat/Montserrat-BlackItalic.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-BlackItalic.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-BlackItalic.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-BlackItalic.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-BlackItalic.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-Bold"
	src: url("/assets/fonts/Montserrat/Montserrat-Bold.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-Bold.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-Bold.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-BoldItalic"
	src: url("/assets/fonts/Montserrat/Montserrat-BoldItalic.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-BoldItalic.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-BoldItalic.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-ExtraBold"
	src: url("/assets/fonts/Montserrat/Montserrat-ExtraBold.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-ExtraBold.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-ExtraBoldItalic"
	src: url("/assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-Light"
	src: url("/assets/fonts/Montserrat/Montserrat-Light.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-Light.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-Light.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-Light.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-Light.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-ExtraLight"
	src: url("/assets/fonts/Montserrat/Montserrat-ExtraLight.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-ExtraLight.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-ExtraLightItalic"
	src: url("/assets/fonts/Montserrat/Montserrat-ExtraLightItalic.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-ExtraLightItalic.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-ExtraLightItalic.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-Italic"
	src: url("/assets/fonts/Montserrat/Montserrat-Italic.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-Italic.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-Italic.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-Italic.svg') format('svg')
	font-style: normal
	font-weight: normal


@font-face
	font-family: "Montserrat-Medium"
	src: url("/assets/fonts/Montserrat/Montserrat-Medium.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-Medium.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-Medium.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-MediumItalic"
	src: url("/assets/fonts/Montserrat/Montserrat-MediumItalic.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-MediumItalic.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-Regular"
	src: url("/assets/fonts/Montserrat/Montserrat-Regular.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-Regular.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-RegularBold"
	src: url("/assets/fonts/Montserrat/Montserrat-RegularBold.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-RegularBold.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-RegularBold.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-RegularBold.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-RegularBold.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-RegularBold.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-RegularBoldItalic"
	src: url("/assets/fonts/Montserrat/Montserrat-RegularBoldItalic.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-RegularBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-RegularBoldItalic.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-RegularBoldItalic.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-RegularBoldItalic.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-RegularBoldItalic.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-Thin"
	src: url("/assets/fonts/Montserrat/Montserrat-Thin.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-Thin.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-Thin.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-Thin.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-Thin.svg') format('svg')
	font-style: normal
	font-weight: normal

@font-face
	font-family: "Montserrat-ThinItalic"
	src: url("/assets/fonts/Montserrat/Montserrat-ThinItalic.eot")
	src: url("/assets/fonts/Montserrat/Montserrat-ThinItalic.eot?#iefix")format("embedded-opentype"),
	url("/assets/fonts/Montserrat/Montserrat-ThinItalic.woff") format("woff"),
	url("/assets/fonts/Montserrat/Montserrat-ThinItalic.woff2") format("woff2"),
	url('/assets/fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype'),
	url('/assets/fonts/Montserrat/Montserrat-ThinItalic.svg') format('svg')
	font-style: normal
	font-weight: normal
	
