$xxs: "(min-width: 320px)"
$xs: "(min-width: 480px)"
$sm: "(min-width: 767px)"
$_sm: "(max-width: 768px)"
$md: "(min-width: 1024px)"
$_md: "(max-width: 1024px)"
$lg: "(min-width: 1200px)"
$xlg: "(max-width: 1650px)"

$med-lap-big: "(max-width: 1600px)"
$med-lap-normal: "(max-width: 1530px)"
$med-lap: "(max-width: 1460px)"
$med-xlg: "(max-width: 1445px)"
$med-xxs: "(max-width: 1400px)"

$med-xlg-small: "(max-width: 1380px)"
$med-xlg-extra-small: "(max-width: 1350px)"
$med-xlg-extra-lg: "(max-width: 1300px)"

$med-lg-big-str: "(max-width: 1280px)"
$med-full-hd-small: "(max-width: 1250px)"

$med-lg-str: "(max-width: 1200px)"
$med-lg-str-small: "(max-width: 1100px)"

$med-tablet-very: "(max-width: 900px)"

$med-mob: "(max-width: 768px)"
$med-mob-very: "(max-width: 700px)"
$med-mob-normal: "(max-width: 650px)"
$med-mob-small: "(max-width: 600px)"

$med-very-xs: "(max-width: 568px)"
$med-xs: "(max-width: 480px)"
$med-normal-xs: "(max-width: 400px)"
$med-small-xs: "(max-width: 375px)"
$med-xxs: "(max-width: 320px)"

$med-xxs-landscape: "(max-width: 568px) and (orientation: landscape)"

$cols: 12
$gutter: 40px

%container
  box-sizing: border-box
  width: 100%
  max-width: 1175px
  margin: 0 auto
  display: flex

  @media #{$xlg}
    width: 85vw

  @media #{$_sm}
    width: 100%
    padding: 0 20px

  //@media #{$med-xs}
    padding-left: 15px
    padding-right: 15px



=container($align: space-between, $wrap: wrap)
  @extend %container
  justify-content: $align
  flex-wrap: $wrap

=position($position: r, $posTop: false, $top: 0, $posLeft: false, $left: 0, $posRight: false, $right: 0, $posBottom: false, $bottom: 0)
  @if $position == r
    position: relative
  @else if $position == a
    position: absolute
  @else
    position: fixed

  @if $posTop
    top: $top

  @if $posLeft
    left: $left

  @if $posRight
    right: $right

  @if $posBottom
    bottom: $bottom

=positionCenter($transformX: -50%, $transformY: -50%)
  top: 50%
  left: 50%
  transform: translate($transformX, $transformY)

=transform($mini: false, $translateX: false, $X: 0, $translateY: false, $Y: 0)
  @if $mini
    transform: translate($X, $Y)

  @else
    @if $translateX
      transform: translateX($X)

    @if $translateY
      transform: translateY($Y)

=col($num)
  width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
