//SPECIFICATIONS
=flex($justify: center, $align: space-between, $column: false, $wrap: wrap)
  display: flex
  @if $column
    flex-direction: column

  justify-content: $justify
  align-items: $align
  flex-wrap: $wrap

//Contact
%contact-input-style
  border-radius: 4px
  font-weight: 500
  letter-spacing: 1.4px
  color: $color-text
  box-sizing: border-box
  padding: 23px 50px 23px 66px

  @media #{$med-very-xs}
    padding-bottom: 27px

  &:focus
    outline: none

//%input-style
//  width: 210px
//  border-radius: 5px
//  padding: 15px 25px
//  color: #fff
//  font-size: 14px
//  font-family: $lato-font
//
//
////INPUT LIGHT STYLE
//%input-box-style
//  +flex(flex-start, center, false, nowrap)
//  width: 100%
//
//
//%input-box-style-filed
//  border: 1px solid $silver-border-light
//  background: darken($bg-color-light, 2%)
//  transition: background .3s ease, color .3s ease
//  color: $color-bread-crumbs
//  border-radius: 5px
//  font-family: $lato-font
//  font-size: 15px
//  width: 100%
//
//  &:focus
//    color: $color-text
//    background-color: #fff
//
//%input-box-style-filed-icon
//  +position(a, true, 50%, true, 15px)
//  +transform(false, false, 0, true, -50%)
//  width: 100%
//  max-width: 15px
//  height: 15px
//
//  @media #{$med-xs}
//    left: 10px
//
//=inputBox($icon-offset-top: false)
//  width: auto
//
//  i
//    color: rgba($color-text, .35)
//    @extend %input-box-style-filed-icon
//
//    @if $icon-offset-top
//      top: $icon-offset-top
//      transform: none
//
//    img
//      width: 100%
//      height: auto
//
//=formFiledStyles($max-width: false, $padding-input: 0, $place-holder-color: #ccc)
//  input, textarea
//    @extend %input-box-style-filed
//
//    @if $max-width
//      max-width: $max-width
//
//    padding: $padding-input
//
//    @media #{$med-xs}
//      padding: 10px 15px 10px 30px
//      font-size: 10px
//
//    &::placeholder
//      color: $place-holder-color
//
//      @media #{$med-lg-big-str}
//        font-size: 14px
//
//      @media #{$med-xs}
//        font-size: 10px!important
//        line-height: 15px