+b.SECTION.features.with-primary-background#features
    +e.container.container
        +e.text-box
            +e.SPAN.title.title Key Features

            +e.H3.description.title-bold Why our VPN is so cool?

        +featuresList({
            'list': [
                {
                    'srcImg': '/assets/img/features/feature-icon.svg',
                    'altImg': '/assets/img/features/feature-icon.svg',
                    'title': "Be Anywhere! Stream Everything!",
                    'text': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs."
                },
                {
                    'srcImg': '/assets/img/features/feature-icon.svg',
                    'altImg': '/assets/img/features/feature-icon.svg',
                    'title': "Be Anywhere! Stream Everything!",
                    'text': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs."
                },
                {
                    'srcImg': '/assets/img/features/feature-icon.svg',
                    'altImg': '/assets/img/features/feature-icon.svg',
                    'title': "Be Anywhere! Stream Everything!",
                    'text': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs."
                },

                {
                    'srcImg': '/assets/img/features/feature-icon.svg',
                    'altImg': '/assets/img/features/feature-icon.svg',
                    'title': "Be Anywhere! Stream Everything!",
                    'text': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs."
                },
                {
                    'srcImg': '/assets/img/features/feature-icon.svg',
                    'altImg': '/assets/img/features/feature-icon.svg',
                    'title': "Be Anywhere! Stream Everything!",
                    'text': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs."
                },
                {
                    'srcImg': '/assets/img/features/feature-icon.svg',
                    'altImg': '/assets/img/features/feature-icon.svg',
                    'title': "Be Anywhere! Stream Everything!",
                    'text': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs."
                },

                {
                    'srcImg': '/assets/img/features/feature-icon.svg',
                    'altImg': '/assets/img/features/feature-icon.svg',
                    'title': "Be Anywhere! Stream Everything!",
                    'text': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs."
                },
                {
                    'srcImg': '/assets/img/features/feature-icon.svg',
                    'altImg': '/assets/img/features/feature-icon.svg',
                    'title': "Be Anywhere! Stream Everything!",
                    'text': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs."
                },
                {
                    'srcImg': '/assets/img/features/feature-icon.svg',
                    'altImg': '/assets/img/features/feature-icon.svg',
                    'title': "Be Anywhere! Stream Everything!",
                    'text': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs."
                }
            ]
        })

        +e.BUTTON.btn.primary.text-bold#js-features-list-btn view more
