extends ../head

block content
    body
        main
            +b.SECTION.downloads.with-primary-background#downloads
                //Header
                include ../../includes/common/header

                +e.content
                    +e.container.container
                        +e.H1.title.title-bold HOW set VPN?

                        +e.SPAN.subtitle Saiba como configurar o SpiceVPN numa grande variedade de plataformas.

                        +dowloadsList({
                            links: [
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/windows-10-logo.svg',
                                    headLogoAlt: 'To Windows 10',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – Windows 10',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/macOS-logo.svg',
                                    headLogoAlt: 'To MacOS',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – MacOS',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/linux-logo.svg',
                                    headLogoAlt: 'To Linux',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – Linux',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/android-logo.svg',
                                    headLogoAlt: 'To Android',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – Android',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/windows-10-logo.svg',
                                    headLogoAlt: 'To Windows 10',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – Windows 10',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/macOS-logo.svg',
                                    headLogoAlt: 'To MacOS',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – MacOS',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/linux-logo.svg',
                                    headLogoAlt: 'To Linux',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – Linux',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/android-logo.svg',
                                    headLogoAlt: 'To Android',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – Android',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/windows-10-logo.svg',
                                    headLogoAlt: 'To Windows 10',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – Windows 10',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/macOS-logo.svg',
                                    headLogoAlt: 'To MacOS',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – MacOS',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/linux-logo.svg',
                                    headLogoAlt: 'To Linux',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – Linux',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/android-logo.svg',
                                    headLogoAlt: 'To Android',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – Android',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/windows-10-logo.svg',
                                    headLogoAlt: 'To Windows 10',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – Windows 10',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/macOS-logo.svg',
                                    headLogoAlt: 'To MacOS',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – MacOS',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/linux-logo.svg',
                                    headLogoAlt: 'To Linux',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – Linux',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                                {
                                    href: '#',
                                    headLogo: '/assets/img/specifications/icons/android-logo.svg',
                                    headLogoAlt: 'To Android',
                                    links: [
                                        {
                                            href: '#',
                                            text: 'Aplicaton',
                                        },
                                        {
                                            href: '#',
                                            text: 'OpenVPN – Android',
                                        },
                                        {
                                            href: '#',
                                            text: 'IKEv2/IPsec',
                                        },
                                    ]
                                },
                            ]
                        })

        //Footer
        include ../../includes/common/footer

        script(src="https://code.jquery.com/jquery-3.4.1.min.js", crossorigin="anonymous")
        //script(src="https://kit.fontawesome.com/5d57f4f625.js", crossorigin="anonymous")
