.welcome
  min-height: 910px

  @media #{$med-lg-str-small}
    background-position: 44.2% 0!important

  @media #{$med-mob}
    min-height: 950px

  @media #{$med-very-xs}
    padding-bottom: 55px
    min-height: 100vh

  @media #{$med-xs}
    padding-bottom: 15px!important

  &__content
    margin-top: 214px
    width: 100%
    max-width: 495px

    @media #{$med-mob}
      margin-top: 144px

    @media #{$med-normal-xs}
      margin-top: 172px

    &-section
      &-bottom
        width: 100%
        max-width: 288px
        display: flex
        flex-direction: column

        @media #{$med-xs}
          max-width: initial
          flex-direction: column-reverse
          margin-top: 37px

    &-title
      font-family: $montserrat-font-bold
      font-size: 70px
      line-height: 75px
      font-weight: bold

      @media #{$med-xlg-extra-small}
        font-size: 60px

      @media #{$med-very-xs}
        width: 100%
        max-width: 270px

        font-size: 32px!important
        line-height: 42px

    &-btn
      padding: 19px 25px
      text-align: center
      font-size: 18.5px
      margin-top: 62px

      @media #{$med-very-xs}
        margin-top: 70px

      @media #{$med-xs}
        margin-top: 104px!important

      @media #{$med-xxs}
        font-size: 16.5px

      @media #{$med-xxs-landscape}
        font-size: 14.5px
