.faq
  padding: 120px 0 121px

  @media #{$med-mob}
    padding: 81px 0 111px

  @media #{$med-xs}
    padding: 52px 0 67px!important

  &__container
    @media #{$med-xs}
      padding: 0 22px

  &__description
    width: 100%
    max-width: 365px
    margin-top: 55px

    @media #{$med-mob}
      margin-top: 26px

    @media #{$med-xs}
      margin-top: 35px
      max-width: 319px

    @media #{$med-xxs}
      font-size: 30px

  & .tabs
    margin-top: 100px

    @media #{$med-mob}
      margin-top: 61px

    @media #{$med-xs}
      margin-top: 37px

  & .tabs__item
    &-title
      @media #{$med-xs}
        max-width: 75vw
