+b.SECTION(style="background: url(/assets/img/welcome/background-image.png) no-repeat 50% 0 / cover").welcome#welcome
    include ../../../includes/common/header

    +e.container.container.container--small
        +e.content
            +e.H1.content-title WE MAKE YOUR WORK SECURE

            +e.content-section-bottom
                +e.A(href="/").content-btn.btn Get your 14-day trial

                +OClist({
                    'list': [
                        {
                            'src': '/assets/img/specifications/icons/Windows-OC-icon.svg',
                            'alt': 'Logo of an Windows OC'
                        },
                        {
                            'src': '/assets/img/specifications/icons/Android-OC-icon.svg',
                            'alt': 'Logo of an Android OC'
                        },
                        {
                            'src': '/assets/img/specifications/icons/Apple-icon.svg',
                            'alt': 'Logo an Apple OC'
                        },
                        {
                            'src': '/assets/img/specifications/icons/IOS-OC-icon.svg',
                            'alt': 'Icon of an Apple OC'
                        },
                        {
                            'src': '/assets/img/specifications/icons/Linux-OC-icon.svg',
                            'alt': 'Logo of an Linux OC'
                        },
                        {
                            'src': '/assets/img/specifications/icons/Router-icon.svg',
                            'alt': 'Icon with router'
                        }
                    ]
                })
