.downloads
  &-list
    margin-top: 55px
    +flex(flex-start, stretch)
    width: 100%

    @media #{$med-lg-str-small}
      margin-top: 34px

    @media #{$med-very-xs}
      margin-top: 32px

    &__item
      width: 100%
      max-width: 270px
      margin-right: 30px
      margin-bottom: 30px
      padding: 20px 20px 40px

      background-color: #fff
      transition: border .3s ease, box-shadow .3s ease
      box-shadow: none

      &:nth-child(4n)
        margin-right: 0

      &:hover
        border-color: $color-primary
        box-shadow: $downloads-item-box-shadow

      @media #{$med-xlg-small}
        max-width: 24.8vw
        margin-right: 3vw

        &:nth-child(4n)
          margin-right: 3vw

        &:nth-child(3n)
          margin-right: 0

      @media #{$med-lg-str-small}
        max-width: 40vw
        margin-right: 30px

        &:nth-child(3n)
          margin-right: 30px

        &:nth-child(2n)
          margin-right: 0

      @media #{$med-mob}
        max-width: 43vw!important

      @media #{$med-very-xs}
        max-width: initial!important
        margin-right: 0!important
        margin-bottom: 18px


      &-head
        position: relative
        padding-bottom: 15px
        +flex(center, flex-start)

        &:after
          content: ''
          position: absolute
          bottom: 0
          left: 0
          width: 100%
          height: 1px

          background-color: $color-silver
          border-radius: 10px

        &-logo
          height: 54px
          display: block

      ul
        margin-top: 31px

        li
          width: 100%

          text-align: center
          line-height: 32px
          font-weight: bold
