+b.SECTION.packages.with-primary-background#packages
    +e.container.container
        +e.intro
            +e.SPAN.title.title Pricing

            +e.H4.description.title-bold PACKAGES AND DISCOUNT OFFER

        +e.content.swiper-container.hidden#js-packages-slider
            +packagesOffers({
                'className': 'packages-slider',
                'offers': [
                    {
                        'termsTitle': "1 month",
                        'termsDescription': "billed every month",
                        'perPriceValute': "$",
                        'perPrice': "9.90",
                        'perPriceDescription': "/ per month",
                        'description': "14-day money-back guarantee"
                    },
                    {
                        'active': true,
                        'exclusiveText': "top choice",
                        'termsTitle': "6 months",
                        'termsDescription': "billed every 6 months",
                        'oldPrice': "$ 59.40",
                        'price': "$47.40",
                        'priceLastText': "once.",
                        'perPriceOld': "$ 9.90",
                        'perPriceValute': "$",
                        'perPrice': "7.90",
                        'perPriceDescription': "/ per month",
                        'description': "30-day money-back guarantee"
                    },
                    {
                        'exclusiveText': "Best deal",
                        'isExclusiveChoice': true,
                        'termsTitle': "12 months",
                        'termsDescription': "billed every 12 months",
                        'oldPrice': "$ 118.80",
                        'price': "$58.8",
                        'priceLastText': "once.",
                        'perPriceOld': "$ 9.90",
                        'perPriceValute': "$",
                        'perPrice': "4.90",
                        'perPriceDescription': "/ per month",
                        'description': "30-day money-back guarantee"
                    }
                ]
            })
