extends ../head

block content
    body
        main
            +b.SECTION.instruction.with-primary-background#instruction
                //Header
                include ../../includes/common/header

                +e.container.container
                    +e.content
                        +e.H1.title.title-bold OpenVPN – Windows 10

                        +b.ARTICLE.instruction-article
                            h2 Only you can make your work secure. We can help you with this.

                            p Nowadays, the safety of using network has become a necessity. Data privacy, anonymity of work - fundamental principles of user protection. No one else should know about your online purchases, payments and visited resources.

                            img(src="/assets/img/instruction/instruction-image-1.png", alt="Image of the instruction, how to install the application").with-border.with-border-radius

                            h2 Only you can make your work secure. We can help you with this.

                            p Nowadays, the safety of using network has become a necessity. Data privacy, anonymity of work - fundamental principles of user protection. No one else should know about your online purchases, payments and visited resources.

                            ul
                                li
                                    figure.order-number
                                        figcaption 1

                                    p
                                        |Nowadays, the safety of using network has become a necessity. Data privacy, anonymity of work - fundamental principles of user protection. No one else should know about your online purchases,
                                        a(href="#")  payments
                                        |  and visited resources.

                                li
                                    figure.order-number
                                        figcaption 2

                                    p Nowadays, the safety of using network has become a necessity. Data privacy, anonymity of work - fundamental principles of user protection. No one else should know about your online purchases, payments and visited resources.


                            p Nowadays, the safety of using network has become a necessity. Data privacy, anonymity of work - fundamental principles of user protection. No one else should know about your online purchases, payments and visited resources.

                            img(src="/assets/img/instruction/instruction-image-1.png", alt="Image of the instruction, how to install the application")

                            h3 Only you can make your work secure. We can help you with this.

                            p Nowadays, the safety of using network has become a necessity. Data privacy, anonymity of work - fundamental principles of user protection. No one else should know about your online purchases, payments and visited resources.
        //Footer
        include ../../includes/common/footer

        script(src="https://code.jquery.com/jquery-3.4.1.min.js", crossorigin="anonymous")
        script(src="https://kit.fontawesome.com/5d57f4f625.js", crossorigin="anonymous")
