+b.SECTION.about-us#about-us
    +e.container.container
        +b.about-us-content-box
            +e.text
                +e.SPAN.title.title About us

                +e.H2.description.title-bold Only you can make your work secure.

                +e.SPAN.text-intro.text-intro Only you can make your work secure. We can help you with this.

                +e.P.text-light.text-light Nowadays, the safety of using network has become a necessity. Data privacy, anonymity of work - fundamental principles of user protection. No one else should know about your online purchases, payments and visited resources.

            +e.image
                img(src="/assets/img/about-us/first-text-block-image.svg")

        +b.about-us-content-box--reversed
            +e.text
                +e.SPAN.title.title our servers

                +e.H2.description.title-bold Why our VPN is so cool?

                +e.P.text-light.text-light Nowadays, the safety of using network has become a necessity. Data privacy, anonymity of work - fundamental principles of user protection. No one else should know about your online purchases, payments and visited resources.

            +e.image
                img(src="/assets/img/about-us/second-text-block-image.svg")
