.downloads
  padding-bottom: 135px

  &__title
    width: 100%

  &__content
    padding-top: 228px

    @media #{$med-lg-str}
      padding-top: 83px

    @media #{$med-very-xs}
      padding-top: 53px!important

  &__subtitle
    margin-top: 34px
    font-size: 25px
    font-weight: bold

    @media #{$med-lg-str-small}
      margin-top: 31px
      line-height: 30px

    @media #{$med-very-xs}
      margin-top: 20px!important
      width: 100%
      max-width: 320px

      line-height: 32px!important
