+b.SECTION.faq#faq
    +e.container.container
        +e.intro
            +e.SPAN.title.title FAQ

            +e.H3.description.title-bold Do YOU have any question?

        +quastionsTabs({
            'questions': [
                {
                    'active': false,
                    'title': "Be Anywhere Stream Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                },
                {
                    'title': "Be Anywhere Stream Everything Anywhere Stream?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                },
                {
                    'title': "Be Anywhere Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                },
                {
                    'title': "Be Anywhere Stream Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                },
                {
                    'title': "Be Stream Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                }
            ]
        })
