+b.wrapper#js-body-wrapper

+b.FOOTER.footer.with-primary-background#footer
    +e.container.container
        nav
            include ../../utils/navigation

        +e.SPAN.copyright Copyright © 2012-2020 Spicevpn