+b.HEADER.header#header
    +e.container.container
        +e.section-left#js-header-section-left
            +e.A(href='/').logo#js-header-logo
                img(alt="Logo", src="/assets/img/specifications/logo.svg")

                span SpiceVPN

        +e.section-right
            nav
                +menu({
                    'menu': [
                        {
                            'href': '/#about-us',
                            'text': 'About-Us'
                        },
                        {
                            'href': '/#features',
                            'text': 'Features'
                        },
                        {
                            'href': '/#reviews',
                            'text': 'Review'
                        },
                        {
                            'href': '/#packages',
                            'text': 'Pricing'
                        },
                        {
                            'href': '/#faq',
                            'text': 'FAQ'
                        },
                        {
                            'href': '#',
                            'text': 'My Account',
                            'modifier': true
                        }
                    ]
                })

            +e.A(href="/").btn.btn#js-btn-sign-in Sign in

            //+languageDropDown({
            //    'selectId': 'js-header-form-select',
            //    'formClassName': 'select-header-country',
            //    'selectName': 'country',
            //    'selectList': [
            //        {
            //            'default': true,
            //            'country': 'English'
            //        },
            //        {
            //            'country': 'Ukraine'
            //        }
            //    ]
            //})


            div.js-language-drop-down.select-header-country
                .js-drop-down
                    div(rel="Russian").js-drop-down-item.js-drop-down-item--selected.js-drop-down-item--selected-header

                    ul.options.header-pc
                        li(rel="Russian").js-drop-down-item
                            a(href="/") 2

                        li(rel="English").js-drop-down-item
                            a(href="/1") 1


            //+e.DIV.language-select.js-select.select-header-country#js-header-form-select
            //    ul
            //        +e.LI(value="English").item.drop-element English
            //            +e.A(href="/").drop-content.drop-target-example-drop-theme-arrows-bounce-dark Link
            //
            //        +e.LI(value="English").item.drop-element
            //            +e.A(href="/").drop-content.drop-target-example-drop-theme-arrows-bounce-dark Link

            +e.BUTTON.btn-menu-mobile#js-mobile-btn-header-menu
                span

                span

                span

        +b.header-mobile-menu#js-header-menu-mobile
            +e.BUTTON.btn.btn#js-btn-sign-in-mobile Sign in

            +mobileLinks({
                links: [
                    {
                        active: true,
                        title: 'My Account',
                        href: '#'
                    },
                    {
                        title: 'About Us',
                        href: '/#about-us'
                    },
                    {
                        title: 'Features',
                        href: '/#features'
                    },
                    {
                        title: 'Review',
                        href: '/#reviews'
                    },
                    {
                        title: 'Pricing',
                        href: '/#packages'
                    },
                    {
                        title: 'FAQ',
                        href: '/#faq'
                    }
                ]
            })

            div.js-language-drop-down
                .js-drop-down.js-drop-down--mobile.js-drop-down--reverse#js-drop-down-lang--mobile
                    div(rel="Russian").js-drop-down-item.js-drop-down-item--selected Russian

                    ul.options
                        li(rel="Russian").js-drop-down-item
                            a(href="/") Russian

                        li(rel="English").js-drop-down-item
                            a(href="/1") English

            //+languageDropDown({
            //    'isMobileVersion': true,
            //    'selectId': 'js-header-form-select-mobile',
            //    'formClassName': 'select-header-country--mobile',
            //    'selectName': 'country',
            //    'selectList': [
            //        {
            //            'default': true,
            //            'country': 'English'
            //        },
            //        {
            //            'country': 'Ukraine'
            //        }
            //    ]
            //})
