.reviews
  padding: 125px 0 115px
  overflow: hidden

  @media #{$med-mob}
    padding: 80px 0 112px

  @media #{$med-small-xs}
    padding-top: 73px
    padding-bottom: 93px

  &__container
    @media #{$med-mob}
      overflow: initial
      width: initial

  &__description
    margin-top: 75px
    width: 100%
    max-width: 360px

    @media #{$med-mob}
      margin-top: 27px

    @media #{$med-small-xs}
      margin-top: 23px

  & .swiper-container
    @media #{$med-xlg-small}
      overflow: initial

  &-slider
    width: 100%
    overflow: hidden
    +flex(flex-start, flex-start, false, nowrap)

    @media #{$med-xlg-small}
      overflow: initial

    &__item
      width: 100%
      max-width: 365px

      &:not(:last-child)
        margin-right: 37px

      @media #{$med-normal-xs}
        max-width: 72vw

    &__rating
      margin-top: 28px
      +flex(flex-start, center)

      @media #{$med-small-xs}
        margin-top: 20px

      &-item
        &:not(:last-child)
          margin-right: 10px

    &__box
      &-text
        margin-top: 26px

        @media #{$med-small-xs}
          margin-top: 22px

        p
          font-family: $montserrat-font-medium-italic
          line-height: 24px
          font-size: 15.5px

          &:not(:last-child)
            margin-bottom: 24px

  &__slider
    position: initial

    &-pagination
      margin-top: 29px

      @media #{$med-small-xs}
        margin-top: 16px

  &__content
    margin-top: 91px
    overflow: visible

    @media #{$med-mob}
      margin-top: 58px

    @media #{$med-small-xs}
      margin-top: 45px
