+b.questions-section-right
    +e.tabs-box#general
        +e.H2.tabs-box-title GEneral

        +quastionsTabs({
            'modifier': 'tabs--small',
            'questions': [
                {
                    'title': "Be Anywhere Stream Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                },
                {
                    'active': true,
                    'title': "Be Anywhere Stream Everything Anywhere Stream?",
                    'content': [
                        {
                            'text': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs. Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs. Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs."
                        }
                    ]
                },
                {
                    'title': "Be Anywhere Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                },
                {
                    'title': "Be Anywhere Stream Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                },
                {
                    'title': "Be Stream Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                }
            ]
        })

    +e.tabs-box#billing-and-sales
        +e.H2.tabs-box-title Billing & sales questions

        +quastionsTabs({
            'modifier': 'tabs--small',
            'questions': [
                {
                    'title': "Be Anywhere Stream Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                },
                {
                    'title': "Be Anywhere Stream Everything Anywhere Stream?",
                    'content': [
                        {
                            'text': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs. Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs. Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs."
                        }
                    ]
                },
                {
                    'title': "Be Anywhere Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                },
                {
                    'title': "Be Anywhere Stream Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                },
                {
                    'title': "Be Stream Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                }
            ]
        })

    +e.tabs-box#set-up
        +e.H2.tabs-box-title Set up questions

        +quastionsTabs({
            'modifier': 'tabs--small',
            'questions': [
                {
                    'title': "Be Anywhere Stream Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                },
                {
                    'title': "Be Anywhere Stream Everything Anywhere Stream?",
                    'content': [
                        {
                            'text': "Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs. Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs. Special Residential VPN servers will convince any web site in USA, Canada, UK or Italy even if it normally doesn't work with VPNs."
                        }
                    ]
                },
                {
                    'title': "Be Anywhere Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                },
                {
                    'title': "Be Anywhere Stream Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                },
                {
                    'title': "Be Stream Everything?",
                    'content': [
                        {
                            'text': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet iaculis ipsum. Donec quis quam venenatis, iaculis ante et, pretium purus. In hac habitasse platea dictumst. Donec et velit dignissim, elementum urna et, vulputate dui. Curabitur at mattis orci. Quisque suscipit scelerisque tortor, sed ultricies arcu facilisis id. Maecenas porta, neque in cursus blandit, libero mi eleifend ligula, nec gravida metus tortor a erat."
                        },
                        {
                            'text': "Suspendisse potenti. Pellentesque vehicula porttitor congue. Ut a auctor ante. Pellentesque volutpat vitae massa ut pellentesque. Duis in tellus elementum, faucibus ante pharetra, varius lorem. Pellentesque ullamcorper at dui id venenatis. Nunc tellus ipsum, sagittis quis consectetur ac, viverra eu quam. Integer sit amet ante consequat, maximus ligula sit amet, cursus quam."
                        }
                    ]
                }
            ]
        })
