extends ../head

block content
    body
        main
            +b.SECTION.questions.with-primary-background#qusetions
                //Header
                include ../../includes/common/header

                +e.content
                    +e.container.container
                        +e.H1.title.title-bold Frequently asked questions

                        +e.wrapper
                            include ./left/section-left

                            include ./right/section-right

        //Footer
        include ../../includes/common/footer

        script(src="https://code.jquery.com/jquery-3.4.1.min.js", crossorigin="anonymous")
        script(src="https://kit.fontawesome.com/5d57f4f625.js", crossorigin="anonymous")
