+b.box-order-confirm.with-border-radius
    +e.UL.list
        +e.LI.list-item
            +pricingList({
                'list': [
                    {
                        'title': 'SpiceVPN план на 6 месяцев',
                        'price': '$59.40',
                    },
                    {
                        'title': 'Скидка - 10%',
                        'price': '- $12',
                        'isSale': true

                    }
                ]
            })

            +e.BUTTON.btn.text-bold.primary#js-form-order-open-coupon-btn Get coupon

        +e.LI.list-item
            +pricingList({
                'list': [
                    {
                        'title': 'Итого',
                        'price': '$47.40',
                        'isResult': true
                    },
                ]
            })

            +adventuresList({
                'list': [
                    {
                        'iconSrc': '/assets/img/specifications/icons/advantage-list-item-1.svg',
                        'iconAlt': 'Icon money-back guarantee',
                        'title': 'You\'re 100% backed by our 7-day money-back guarantee.'
                    },
                    {
                        'iconSrc': '/assets/img/specifications/icons/advantage-list-item-2.svg',
                        'iconAlt': 'Icon securely',
                        'title': 'Follow the instructions on the screen to complete your purchase securely.'
                    },
                    {
                        'iconSrc': '/assets/img/specifications/icons/advantage-list-item-3.svg',
                        'iconAlt': 'Icon percents',
                        'title': 'Payments are charged in USD. Payment provider fees may apply.'
                    },
                ]
            })
