+b.following-box
    +e.SPAN.title.text-bold Follow us

    +followinglist({
        'socials': [
            {
                'socialLink': '#',
                'socialFontAwesomeIcon': 'fab fa-facebook-f',
            },
            {
                'socialLink': '#',
                'socialFontAwesomeIcon': 'fab fa-instagram',
            }
        ]
    })