//SPECIFICATIONS
//Header
mixin menu(data)
    +b.UL.header-menu#js-header-menu
        each item in data.menu
            if !item.modifier
                +e.LI.item
                    a(href= item.href)=item.text
            else
                +e.LI.item--active
                    a(href= item.href)=item.text

//Footer
mixin menuDropdowns(data)
    +e.content
        +e.UL.content-section-left
            each item in data.menu.left
                +e.LI.content-item
                    +e.SPAN.content-item-title.text-bold= item.title

                    if item.list
                        +b.UL.navigation-item
                            each listItem in item.list
                                +e.LI.link
                                    a(href= listItem.itemHref)= listItem.itemText

                    else if item.soon
                        if item.soonTitle
                            +e.SPAN.soon-title= item.soonTitle

                        if item.soonLink
                            +e.A(href= item.soonLinkHref).soon-link= item.soonLink

                    else if item.select
                        form(action='/')#js-footer-form-select
                            +b.SELECT(name= item.selectName).language-select.js-select
                                each selectItem in item.selectList
                                    if !selectItem.default
                                        +e.OPTION(value= selectItem.country).item= selectItem.country

                                    else
                                        +e.OPTION(selected, value= selectItem.country).item= selectItem.country

        +e.UL.content-section-right
            each item in data.menu.right
                +e.LI.content-item
                    span.footer__content-item-title.text-bold Language

                    div.js-language-drop-down
                        .js-drop-down.js-drop-down--footer.js-drop-down--reverse#js-drop-down-lang--footer
                            div(rel="Russian").js-drop-down-item.js-drop-down-item--selected Russian

                            ul.options
                                li(rel="Russian").js-drop-down-item
                                    a(href="/") Russian

                                li(rel="English").js-drop-down-item
                                    a(href="/1") English

            include ../utils/following-box

            include ../utils/payments-box

//Input radio images
mixin radioContentImages(data)
    if data.isSmall
        +e.UL.item-content-images--small
            each image in data.images
                li
                    img(src= image.src, alt= image.alt)

    else
        +e.UL.item-content-images
            each image in data.images
                li
                    img(src= image.src, alt= image.alt)

//Features box with the list
mixin featuresListBox(data)
    +b.box-features.with-border-radius
        +e.SPAN.title.text-bold
            b= data.title

        +e.UL.list
            each feature in data.list
                +e.LI.list-item
                    span.text-light= feature.text

//Socials list
mixin followinglist(data)
    +b.UL.following-list
        each social in data.socials
            +e.LI.item
                a(href= social.socialLink)
                    i(class= social.socialFontAwesomeIcon)

//Payments list
mixin paymentsList(data)
    +b.UL.payments-list
        each method in data.methods
            +e.LI.item
                img(src= method.iconSrc, alt= method.iconAlt)



//BLOCKS
//OC Icons list
mixin OClist(data)
    +b.UL.OC-icons-list
        each item in data.list
            +e.LI.item
                img(alt= item.alt, src= item.src)

//Language DropDown of the header
mixin languageDropDown(data)
    form(action='/', class= data.formClassName, id =data.selectId)
        +b.SELECT(name= data.selectName).language-select.js-select
            each selectItem in data.selectList
                if !selectItem.default
                    if data.isMobileVersion
                        +e.OPTION(value= selectItem.country).item= selectItem.country
                    else
                        +e.OPTION(value= selectItem.country).item

                else
                    if data.isMobileVersion
                        +e.OPTION(selected, value= selectItem.country).item= selectItem.country
                    else
                        +e.OPTION(selected, value= selectItem.country).item
//Features
mixin featuresList(data)
    +b.UL.features-list#js-features-list
        each item in data.list
            +e.LI.item
                +e.IMG(src= item.srcImg, alt= item.altImg)

                +e.SPAN.item-text-intro.text-intro
                    | Be Anywhere!
                    br
                    | Stream Everything!

                +e.P.item-text-light.text-light= item.text

//Reviews
mixin reviewsList(data)
    +b.UL.reviews-slider.swiper-wrapper
        each slide in data.reviews
            +e.LI.item.swiper-slide
                +e.SPAN.author.text-intro= slide.author

                +e.UL.rating
                    +e.LI.rating-item
                        img(src="/assets/img/specifications/icons/rating-star.svg")

                    +e.LI.rating-item
                        img(src="/assets/img/specifications/icons/rating-star.svg")

                    +e.LI.rating-item
                        img(src="/assets/img/specifications/icons/rating-star.svg")

                    +e.LI.rating-item
                        img(src="/assets/img/specifications/icons/rating-star.svg")

                    +e.LI.rating-item
                        img(src="/assets/img/specifications/icons/rating-star.svg")

                +e.box-text
                    p= slide.firstReview

                    p= slide.lastReview

//Mobile links of the mobile menu
mixin mobileLinks(data)
    +e.UL.links
        each link in data.links
            if !link.active
                +e.LI.links-item
                    a(href =link.href)= link.title
            else
                +e.LI.links-item--active
                    a(href =link.href)= link.title

//Packages
mixin packagesOffers(data)
    +b.UL(class= data.className).swiper-wrapper
        each offer in data.offers
            if offer.active
                +e.LI.item--active.swiper-slide
                    if offer.exclusiveText
                        if offer.isExclusiveChoice
                            +e.SAPAN.item-text-exclusive--choice= offer.exclusiveText

                        else
                            +e.SAPAN.item-text-exclusive= offer.exclusiveText

                    +e.item-section-top
                        +e.item-intro
                            +e.SPAN.item-terms-title.text-bold= offer.termsTitle

                            +e.SPAN.item-terms-description= offer.termsDescription

                            if offer.price
                                +e.item-terms-box
                                    if offer.oldPrice
                                        s
                                            +e.SPAN.item-terms-price--old= offer.oldPrice

                                    +e.item-terms-price-box
                                        +e.SPAN.item-terms-price.primary.text-bold= offer.price

                                    if offer.priceLastText
                                        span= offer.priceLastText

                    +e.item-section-bottom
                        if offer.perPriceOld
                            s
                                +e.SPAN.item-terms-price--old= offer.perPriceOld

                        +e.item-price-box
                            +e.item-per-box
                                span.text-bold= offer.perPriceValute

                                +e.SPAN.item-terms-box-price.text-bold= offer.perPrice

                            +e.SPAN.item-per-box-description= offer.perPriceDescription

                        span= offer.description

            else
                +e.LI.item.swiper-slide
                    if offer.exclusiveText
                        if offer.isExclusiveChoice
                            +e.SPAN.item-text-exclusive--choice= offer.exclusiveText

                        else
                            +e.SPAN.item-text-exclusive= offer.exclusiveText

                    +e.item-section-top
                        +e.item-intro
                            +e.SPAN.item-terms-title.text-bold= offer.termsTitle

                            +e.SPAN.item-terms-description= offer.termsDescription

                            if offer.price
                                +e.item-terms-box
                                    if offer.oldPrice
                                        s
                                            +e.SPAN.item-terms-price--old= offer.oldPrice

                                    +e.item-term-price-box
                                        +e.SPAN.item-terms-price.primary.text-bold= offer.price

                                        if offer.priceLastText
                                            span= offer.priceLastText

                    +e.item-section-bottom
                        if offer.perPriceOld
                            s
                                +e.SPAN.item-terms-price--old= offer.perPriceOld

                        +e.item-price-box
                            +e.item-per-box
                                span.text-bold= offer.perPriceValute

                                +e.SPAN.item-terms-box-price.text-bold= offer.perPrice

                            +e.SPAN.item-per-box-description= offer.perPriceDescription

                        span= offer.description

    +e.slider-pagination.swiper-pagination#js-packages-slider-pagination

//FAQ
mixin quastionsTabs(data)
    if data.modifier
        if data.id
            +b.UL(class= data.modifier, id= data.id).js-tabs
                each tab in data.questions
                    if tab.active
                        +e.LI.item--active.js-tabs-item
                            button
                                +e.item-icons
                                    +e.item-icon--plus

                                    +e.item-icon--minus

                                +e.SPAN.item-title.text-bold= tab.title

                            +e.item-body
                                each body in tab.content
                                    p= body.text

                    else
                        +e.LI.item.js-tabs-item
                            button
                                +e.item-icons
                                    +e.item-icon--plus

                                    +e.item-icon--minus

                                +e.SPAN.item-title.text-bold= tab.title

                            +e.item-body
                                each body in tab.content
                                    p= body.text

        else
            +b.UL(class= data.modifier).js-tabs
                each tab in data.questions
                    if tab.active
                        +e.LI.item--active.js-tabs-item
                            button
                                +e.item-icons
                                    +e.item-icon--plus

                                    +e.item-icon--minus

                                +e.SPAN.item-title.text-bold= tab.title

                            +e.item-body
                                each body in tab.content
                                    p= body.text

                    else
                        +e.LI.item.js-tabs-item
                            button
                                +e.item-icons
                                    +e.item-icon--plus

                                    +e.item-icon--minus

                                +e.SPAN.item-title.text-bold= tab.title

                            +e.item-body
                                each body in tab.content
                                    p= body.text

    else
        if data.id
            +b.UL(id= data.id).tabs.js-tabs
                each tab in data.questions
                    if tab.active
                        +e.LI.item--active.js-tabs-item
                            button
                                +e.item-icons
                                    +e.item-icon--plus

                                    +e.item-icon--minus

                                +e.SPAN.item-title.text-bold= tab.title

                            +e.item-body
                                each body in tab.content
                                    p= body.text

                    else
                        +e.LI.item.js-tabs-item
                            button
                                +e.item-icons
                                    +e.item-icon--plus

                                    +e.item-icon--minus

                                +e.SPAN.item-title.text-bold= tab.title

                            +e.item-body
                                each body in tab.content
                                    p= body.text

        else
            +b.UL.tabs.js-tabs
                each tab in data.questions
                    if tab.active
                        +e.LI.item--active.js-tabs-item
                            button
                                +e.item-icons
                                    +e.item-icon--plus

                                    +e.item-icon--minus

                                +e.SPAN.item-title.text-bold= tab.title

                            +e.item-body
                                each body in tab.content
                                    p= body.text

                    else
                        +e.LI.item.js-tabs-item
                            button
                                +e.item-icons
                                    +e.item-icon--plus

                                    +e.item-icon--minus

                                +e.SPAN.item-title.text-bold= tab.title

                            +e.item-body
                                each body in tab.content
                                    p= body.text

//Pricing list
mixin pricingList(data)
    +b.UL.pricing-list
        each item in data.list
            if !item.isResult
                +e.LI.item
                    +e.SPAN.item-title#js-order-price-title= item.title

                    if !item.isSale
                        +e.SPAN.item-price#js-order-price= item.price

                    else
                        +e.SPAN.item-price.primary#js-order-sale= item.price

            else
                +e.LI.item--result
                    +e.SPAN.item-title= item.title

                    if !item.isSale
                        +e.SPAN.item-price#js-result-order-price= item.price

                    else
                        +e.SPAN.item-price.primary#js-result-order-sale= item.price

//Adventures list
mixin adventuresList(data)
    +e.UL.adventures-list
        each item in data.list
            +e.LI.adventures-list-item
                img(src= item.iconSrc, alt= item.iconAlt)

                span= item.title

//QUESTIONS
//Navigation links list
mixin navigationList(data)
    +b.UL.navigation-links
        each link in data.links
            +e.LI.item.js-navigation-link
                a.primary(href= link.href)= link.title

//DOWNLOADS
//Downloads list
mixin dowloadsList(data)
    +b.UL.downloads-list
        each item in data.links
            +e.LI.item.with-border-radius
                +e.item-head
                    +e.IMG(src= item.headLogo, alt= item.headLogoAlt).item-head-logo

                ul
                    each link in item.links
                        li
                            a(href= link.href).primary= link.text
