+menuDropdowns({
    'menu': {
        'left': [
            {
                'title': 'About',
                'list': [
                    {
                        'itemHref': '#',
                        'itemText': 'Product'
                    },
                    {
                        'itemHref': '#',
                        'itemText': 'Features'
                    },
                    {
                        'itemHref': '#',
                        'itemText': 'Pricing'
                    },
                    {
                        'itemHref': '#',
                        'itemText': 'Blog'
                    },
                    {
                        'itemHref': '#',
                        'itemText': 'FAQ'
                    }
                ]
            },
            {
                'title': 'About',
                'list': [
                    {
                        'itemHref': '#',
                        'itemText': 'Product'
                    },
                    {
                        'itemHref': '#',
                        'itemText': 'Features'
                    },
                    {
                        'itemHref': '#',
                        'itemText': 'Pricing'
                    }
                ]
            }
        ],
        'right': [
            {
                'title': 'Download',
                'soon': true,
                'soonTitle': 'Coming soon',
                'soonLink': 'Notify me when will available',
                'soonLinkHref': '#',
            },
        ]
    }
})