+b.payments-box
    +e.SPAN.title.text-bold We accept

    +paymentsList({
        'methods': [
            {
                'iconSrc': '/assets/img/specifications/icons/payments/visa-method-icon.svg',
                'iconAlt': 'Visa payment method'
            },
            {
                'iconSrc': '/assets/img/specifications/icons/payments/mastercard-method-icon.svg',
                'iconAlt': 'MasterCard payment method'
            },
            {
                'iconSrc': '/assets/img/specifications/icons/payments/paypal-method-icon.svg',
                'iconAlt': 'PayPal payment method'
            }
        ]
    })