.questions
  padding-bottom: 135px

  @media #{$med-mob}
    padding-bottom: 78px

  &__content
    padding-top: 228px

    @media #{$med-mob}
      padding-top: 82px

    @media #{$med-very-xs}
      padding-top: 51px

  &__title
    @media #{$med-very-xs}
      width: 100%
      max-width: 320px

      line-height: 42px!important

  &__wrapper
    margin-top: 85px
    +flex(space-between, flex-start, false, nowrap)
    width: 100%

    @media #{$med-xlg-extra-lg}
      flex-direction: column
      margin-top: 61px

    @media #{$med-very-xs}
      margin-top: 67px!important
