extends ../head

block content
    body
        //Welcome
        include welcome/welcome

        main
            //About US
            include about-us/about-us

            //Features
            include features/features

            //Reviews
            include reviews/reviews

            //Packages
            include packages/packages

            //FAQ
            include faq/faq

        //Footer
        include ../../includes/common/footer

        script(src="https://code.jquery.com/jquery-3.4.1.min.js", crossorigin="anonymous")
        script(src="https://kit.fontawesome.com/5d57f4f625.js", crossorigin="anonymous")
