+b.questions-section-left
    +e.SPAN.title Jump to section

    +navigationList({
        links: [
            {
                href: '/#general',
                title: 'General',
            },
            {
                href: '/#billing-and-sales',
                title: 'Billing & sales questions',
            },
            {
                href: '/#set-up',
                title: 'Set up questions',
            },
        ]
    })

