.order
  padding: 0

  @media #{$med-xlg-small}
    overflow: hidden

  @media #{$med-mob}
    padding-bottom: 42px

  & .header__logo
    margin-left: 0

  &__form
    select
      display: none

  &__content
    width: 100%
    margin-top: 229px

    @media #{$med-mob}
      margin-top: 123px

    @media #{$med-xs}
      margin-top: 97px
      padding-left: 5px
      padding-right: 5px

    @media #{$med-xxs}
      padding-left: 0
      padding-right: 0