include ../utils/mixins
include ../../assets/bemto/bemto
    - set_bemto_settings({ modifier: "--" })

block variables

doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title #{title}
        meta(name='description', content=description)
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //FavIons
        //All
        link(rel="icon", href="../specifications-img/fav-icons/favicon.svg", sizes="any")
        //MacOS
        link(rel="mask-icon", href="/specifications-img/fav-icons/favicon.svg", color="#fff")
        //IOS
        link(rel="apple-touch-icon", sizes="57x57", href="../specifications-img/fav-icons/IOS/favicon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="../specifications-img/fav-icons/IOS/favicon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="../specifications-img/fav-icons/IOS/favicon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="../specifications-img/fav-icons/IOS/favicon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="../specifications-img/fav-icons/IOS/favicon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="../specifications-img/fav-icons/IOS/favicon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="../specifications-img/fav-icons/IOS/favicon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="../specifications-img/fav-icons/IOS/favicon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="../specifications-img/fav-icons/IOS/favicon-180x180.png")

        meta(name="apple-mobile-web-app-title", content="Spice VPN")
        //FavIons

    block content
