.about
  &-us
    padding: 175px 0 125px

    @media #{$med-tablet-very}
      padding: 27px 0 76px

    &-content
      &-box
        +flex(space-between, flex-start, false, nowrap)

        @media #{$med-lg-str}
          justify-content: flex-start

        @media #{$med-tablet-very}
          width: 100%
          //align-items: center!important
          flex-direction: column-reverse!important

        &__text
          width: 100%
          max-width: 560px

          @media #{$med-tablet-very}
            margin-top: 77px
            max-width: initial

          @media #{$med-small-xs}
            margin-top: 32px!important
            padding-left: 8px

          &-intro
            margin-top: 33px
            display: block

            @media #{$med-tablet-very}
              margin-top: 20px
              max-width: initial

            @media #{$med-small-xs}
              margin-top: 17px!important

          &-light
            margin-top: 25px

            @media #{$med-tablet-very}
              margin-top: 27px

            @media #{$med-small-xs}
              margin-top: 19px!important

        &__description
          margin-top: 50px

          @media #{$med-tablet-very}
            margin-top: 28px

          @media #{$med-small-xs}
            margin-top: 20px!important

        &__image
          position: relative
          right: -72px
          margin-top: 51px

          @media #{$med-lap-normal}
            right: -2vw

          @media #{$med-tablet-very}
            align-self: center
            right: initial!important

          @media #{$med-mob-very}
            margin: 51px auto 0

          @media #{$med-small-xs}
            margin-top: 60px!important

          img
            @media #{$med-lg-big-str}
              max-width: 450px

            @media #{$med-tablet-very}
              max-width: 90vw!important

        &--reversed
          margin-top: 15px
          flex-direction: row-reverse

          @media #{$med-small-xs}
            margin-top: 0

        &--reversed  &__text
          position: relative
          left: -23px
          margin-top: 190px
          padding-left: 0

          @media #{$med-mob}
            margin-top: 77px
            left: initial

        &--reversed  .title-bold
          width: 100%
          max-width: 340px

          @media #{$med-mob}
            max-width: initial

        &--reversed  &__image
          right: initial
          left: -81px
          margin: 0

          @media #{$med-lap-normal}
            left: -1vw

          @media #{$med-tablet-very}
            margin-top: 100px
            left: initial!important

          @media #{$med-small-xs}
            margin-top: 43px!important

        &--reversed  .text-light
          @media #{$med-tablet-very}
            margin-top: 21px
