.packages
  &-slider
    padding: 20px 0 75px
    min-height: 420px
    +flex(flex-start, stretch, false, nowrap)

    @media #{$med-lg-big-str}
      min-height: 326px

    @media #{$med-small-xs}
      align-items: flex-start!important
      flex-direction: column
      height: initial

    @media (min-width: 376px) and #{$med-tablet-very}
      max-height: 340px

    @media #{$med-small-xs}
      padding-bottom: 0


    &__item
      height: initial
      max-height: 436px
      position: relative
      padding: 103px 50px 92px
      max-width: 370px
      margin-right: 31px
      +flex(space-between, flex-start, true, nowrap)

      background: #fff
      cursor: pointer
      border: 2px solid $color-border-packages
      border-radius: 10px
      transition: box-shadow .2s linear, background-color .3s ease, border .3s ease, transform .3s ease, top .3s ease

      @media #{$med-tablet-very}
        padding: 53px 13px 56px
        max-width: 254px

        border-width: 1px
        background-color: transparent

      @media #{$med-small-xs}
        padding: 104px 23px 90px!important
        border: 2px solid $color-text!important
        margin-right: 0
        max-width: initial!important
        background-color: #fff!important
        min-height: 435px
        min-width: 100%

        &:not(:last-child)
          margin-bottom: 37px

      &--active, &:hover
        box-shadow: $packages-shadow

      &--active, &:hover
        @media #{$med-tablet-very}
          //top: -1%

          //transform: scaleY(1.01)
          background-color: #fff
          border: 1px solid $color-text!important
          box-shadow: $packages-small-shadow

        @media #{$med-small-xs}
          top: initial!important
          //transform: scale(1)!important

      &-text
        &-exclusive
          position: absolute
          right: 18px
          top: -19px
          //width: 100%
          max-width: 55%
          padding: 9px 15px 7.5px

          font-weight: bold
          text-transform: lowercase
          text-align: center

          color: #fff
          background: $color-primary
          border-radius: 4px

          @media #{$med-small-xs}
            top: -19px!important
            //right: -1px!important

          &--choice
            background: $color-primary-exclusive

      //&--active &-text-exclusive
        @media #{$med-lg-big-str}
          top: -16px

      &-section
        &-top, &-bottom
          @media #{$med-lg-big-str}
            margin-left: 5px

        &-bottom
          padding-top: 12px
          margin-right: 15px

          @media #{$med-lg-big-str}
            margin-right: 0
            padding-top: 27px

          @media #{$med-small-xs}
            padding-top: 25px!important

          span
            display: block

      &-terms
        &-title
          font-size: 42px

          @media #{$med-lg-big-str}
            font-size: 36px

          @media #{$med-small-xs}
            font-size: 42px!important

          @media #{$med-xxs}
            font-size: 37px!important

        &-description
          display: block
          margin-top: 20px

          @media #{$med-lg-big-str}
            font-size: 14px
            font-weight: 500
            margin-top: 10px

          @media #{$med-small-xs}
            margin-top: 19px!important
            font-size: 16px!important

        &-box
          margin-top: 10px
          +flex(flex-start, flex-start)

          @media #{$med-lg-big-str}
            margin-top: 16px
            font-size: 14px

          @media #{$med-small-xs}
            margin-top: 8px!important
            font-size: 16px!important

          &-price
            font-size: 42px

            @media #{$med-lg-big-str}
              font-size: 36px

            @media #{$med-small-xs}
              font-size: 42px!important

            @media #{$med-xxs}
              font-size: 35px!important

        &-price
          margin-right: 5px

          &--old
            margin-right: 8px

            @media #{$med-lg-big-str}
              font-size: 14px

            @media #{$med-small-xs}
              font-size: 16px!important

      &-per
        &-box
          +flex(flex-start, flex-start)

          span
            &:first-child
              padding-top: 7px
              font-size: 22px
              margin-right: 5px

              @media #{$med-lg-big-str}
                padding-top: 4px
                font-size: 16px
                margin-right: 3px

              @media #{$med-small-xs}
                font-size: 20px!important
                margin-right: 5px!important

          &-description
            @media #{$med-lg-big-str}
              font-size: 15px

            @media #{$med-small-xs}
              font-size: 17px!important

      &-price
        &-box
          +flex(flex-start, flex-end)
          margin-bottom: 31px

          & + span
            @media #{$med-lg-big-str}
              font-size: 14px

            @media #{$med-small-xs}
              font-size: 16px!important

    & + .swiper-pagination-bullets
      //@media #{$med-lg-big-str}
      //  top: 51px

      @media #{$med-tablet-very}
        top: -24px!important


    &--order
      @media #{$med-lg-big-str}
        min-height: 342px

    &--order &__item
      background: transparent!important
      border: 1px solid $color-border-order-packages!important

      &:not(:last-child)
        @media #{$med-small-xs}
          margin-bottom: 40px

      @media #{$med-small-xs}
        padding: 48px 32px 52px!important
        min-height: 340px

      &-text
        &-exclusive
          @media #{$med-small-xs}
            right: 22px!important

      &-price
        &-box
          @media #{$med-small-xs}
            margin-bottom: 30px

          span
            &:first-child
              @media #{$med-small-xs}
                padding-top: 6px

    &--order .packages-slider__item-section-bottom
      padding-top: 28px

    &--order &__item--active, &--order &__item:hover
      background-color: #fff!important
      border-color: $color-primary!important
      box-shadow: $packages-shadow

    //&--order + .swiper-pagination-bullets
    //  @media #{$med-lg-big-str}
    //    top: 33px
