body, html
  font-family: $montserrat-font-medium
  position: relative
  width: 100vw

*
  box-sizing: border-box

//html
  overflow-x: overlay

body
  overflow-x: hidden
  color: $color-text


input
  &[type="checkbox"]
    display: none!important

  &[type="submit"]
    border: none
    cursor: pointer

input, textarea
  appearance: none!important
  box-shadow: none

input[type="radio"]
  display: none
  //padding-left: 50px

  //@supports (-ms-ime-align: auto)


  //&::-ms-check
  //  display: block
  //  height: 32px
  //  width: 32px
  //  box-sizing: border-box
  //
  //  transition: border .5s ease, background-color .5s ease
  //  background: $color-primary-background
  //  border: 2px solid $color-border-light
  //  overflow: hidden
  //  border-radius: 10px
  //
  //  &:checked, &:active
  //    background: url("/assets/img/specifications/icons/white-done-icon.svg") no-repeat center center / contain

button
  cursor: pointer
  border: none
  background: transparent
  -webkit-appearance: none
  border-radius: 0

  &:focus
    outline: none

input, button, a, textarea
  &:focus
    outline: none

textarea
  resize: none

//::-webkit-scrollbar
//  width: 12px
//  height: 12px
//
//::-webkit-scrollbar-track
//  background: rgba(0, 0, 0, 0.1)
//
//::-webkit-scrollbar-thumb
//  background: rgba(0, 0, 0, 0.5)

label
  cursor: pointer

.wrapper
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1
  opacity: 0
  background: rgba(#fff, .6)
  transition: opacity .5s linear, z-index .5s linear

  &.active
    opacity: 1
    z-index: 1

//TEXT BLOCKS
.title
  font-weight: bold
  color: $color-primary
  letter-spacing: 0.5em
  text-transform: uppercase
  font-family: $montserrat-font-bold
  font-size: 20px

  @media #{$med-xs}
    font-size: 14px

.title-bold
  font-size: 42px
  line-height: 50px
  font-family: $montserrat-font-bold
  text-transform: uppercase

  @media #{$med-xs}
    font-size: 32px
    line-height: 40px

.text
  &-intro
    font-weight: bold
    font-size: 25px
    line-height: 32px
    width: 100%
    max-width: 500px

    @media #{$med-xs}
      font-size: 21px
      line-height: 26px

  &-light
    font-family: $montserrat-font-medium
    font-size: 16px
    line-height: 24px

  &-bold
    font-family: $montserrat-font-bold

.primary
  color: $color-primary

.container
  +container()

  &--small
    padding: 0 16px

.with
  &-primary
    &-background
      background: $color-primary-background

  &-border
    &-radius
      border: 1px solid $color-border-order-packages
      border-radius: 10px


.input
  padding: 24px 27px
  line-height: 25px

  background: #fff
  transition: background-color .5s ease
  font-weight: 500
  font-size: 18px

  @media #{$med-xs}
    padding-left: 32px
    padding-right: 32px

  &::placeholder
    font-weight: 500
    font-size: 18px
    opacity: .5
    transition: opacity .5s ease

  &:focus
    background-color: transparent

    &::placeholder
      opacity: 1

.btn
  transition: background .3s linear
  background: $color-primary
  padding: 19.5px 47px

  font-size: 18px
  font-weight: bold
  color: #ffffff
  text-align: center
  border-radius: 7px

#js-packages-slider
  opacity: 1
  transition: opacity .5s linear

  &.hidden
    opacity: 0

//SLICK-SLIDER
.slick-active, .slick-track, .slick-slide, .slick-cloned
  &:focus
    outline: none!important

//SWIPER
.swiper-pagination
  position: relative
  text-align: left
  display: inline-block

  & .swiper-pagination-bullet
    width: 30px
    height: 4px
    margin-left: 0!important

    border-radius: 4px
    background: $color-light-background
    opacity: 1!important
    outline: none!important

    &:not(:last-child)
      margin-right: 7px

  & .swiper-pagination-bullet-active
    background: $color-primary
